In [33]:
import http.client
import json
from settings import API_KEY
import time
from pandas.io.json import json_normalize
import pandas as pd
import  csv
import ast

## Funções

In [49]:
def get_url_credits(movie_id, api_key):
    return("/3/movie/" + str(movie_id) + "/credits" + "?api_key=" + str(api_key))

def get_json(conn, url):
	payload = "{}"
	conn.request("GET", url, payload)
	res = conn.getresponse()
	data = res.read()
	return(json.loads(data.decode("    utf-8")))

In [47]:
def get_movie_credits(ids):
    
	conn = http.client.HTTPSConnection("api.themoviedb.org")    
	movie_credits_df = pd.DataFrame()
    
	for movie_id in ids:
		url = get_url_credits(movie_id, API_KEY)
        
		try:
			credits_data = get_json(conn, url)
		except Exception as e:
			if (credits_data['status_code'] == 25):
				time.sleep(10)                
				credits_data = get_json(conn, url)        
        
		df = json_normalize(credits_data)
		movie_credits_df = movie_credits_df.append(df)

	return movie_credits_df

In [29]:
def get_cast(ids, movie_credits_df):

    movie_cast_df = pd.DataFrame()

    for idx,movie_id in enumerate(ids,40):

        movie_item = pd.DataFrame()
        movie_item = movie_credits_df[movie_credits_df['id']==movie_id].reset_index()
        print("%s of %s" % (idx,len(ids)))

        print(movie_item['cast'])
        
        for cast_id in movie_item['cast'][0]:
            cast_id.update({'movie_id': int(movie_id)})
            cast_id.pop('profile_path', None)
            movie_cast_df = movie_cast_df.append(cast_id, ignore_index=True)
    
    return movie_cast_df

## Testes

In [43]:
with open('out_sample.csv', 'r') as f:
#with open('out_all.csv', 'r') as f:    
    reader = csv.reader(f, skipinitialspace=True, delimiter=',')
    ids_list = list(reader)
    
ids = [item for sublist in ids_list for item in sublist]

In [44]:
len(ids)

156

In [45]:
# Transformando ids em numérico
ids_num = list(map(int, ids))

In [50]:
movie_credits_df = get_movie_credits(ids_num)

In [52]:
movie_credits_df.shape

(156, 5)

In [53]:
movie_credits_df = movie_credits_df.drop_duplicates('id', keep='first')

In [55]:
movie_credits_df['id'].isnull().sum()

1

In [56]:
movie_credits_df[movie_credits_df['id'].isnull()]

,cast,crew,id,status_code,status_message
0,NaN,NaN,NaN,25.0,Your request count (41) is over the allowed li...

In [57]:
movie_credits_df = movie_credits_df[movie_credits_df['status_code'] != 25]

In [58]:
movie_credits_df['id'].isnull().sum()

0

In [71]:
movie_credits_df = movie_credits_df.reset_index()

In [72]:
movie_cast_df = get_cast(ids_num, movie_credits_df)

40 of 156
0    [{'id': 529, 'movie_id': 77, 'cast_id': 4, 'ge...
Name: cast, dtype: object
41 of 156
0    [{'id': 934, 'movie_id': 98, 'cast_id': 8, 'ge...
Name: cast, dtype: object
42 of 156
0    [{'id': 3894, 'movie_id': 1359, 'cast_id': 3, ...
Name: cast, dtype: object
43 of 156
0    [{'id': 31, 'movie_id': 8358, 'cast_id': 3, 'g...
Name: cast, dtype: object
44 of 156
0    [{'id': 2461, 'movie_id': 7443, 'cast_id': 3, ...
Name: cast, dtype: object
45 of 156
0    [{'id': 500, 'movie_id': 955, 'cast_id': 31, '...
Name: cast, dtype: object
46 of 156
0    [{'id': 1121, 'movie_id': 107, 'cast_id': 19, ...
Name: cast, dtype: object
47 of 156
0    [{'id': 1461, 'movie_id': 2133, 'cast_id': 16,...
Name: cast, dtype: object
48 of 156
0    [{'id': 15555, 'movie_id': 6282, 'cast_id': 1,...
Name: cast, dtype: object
49 of 156
0    [{'id': 8600, 'movie_id': 40096, 'cast_id': 1,...
Name: cast, dtype: object
50 of 156
0    [{'id': 1619, 'movie_id': 146, 'cast_id': 25, ...
Name: cast, dtype: object
51 of 156
0    [{'id': 60950, 'movie_id': 11688, 'cast_id': 1...
Name: cast, dtype: object
52 of 156
0    [{'id': 2461, 'movie_id': 2024, 'cast_id': 12,...
Name: cast, dtype: object
53 of 156
0    [{'id': 880, 'movie_id': 10862, 'cast_id': 1, ...
Name: cast, dtype: object
54 of 156
0    [{'id': 6384, 'movie_id': 10393, 'cast_id': 3,...
Name: cast, dtype: object
55 of 156
0    [{'id': 50398, 'movie_id': 9532, 'cast_id': 1,...
Name: cast, dtype: object
56 of 156
0    [{'id': 478, 'movie_id': 71, 'cast_id': 16, 'g...
Name: cast, dtype: object
57 of 156
0    [{'id': 6193, 'movie_id': 1907, 'cast_id': 2, ...
Name: cast, dtype: object
58 of 156
0    [{'id': 12898, 'movie_id': 16187, 'cast_id': 6...
Name: cast, dtype: object
59 of 156
0    [{'id': 28639, 'movie_id': 4247, 'cast_id': 23...
Name: cast, dtype: object
60 of 156
0    [{'id': 62, 'movie_id': 4244, 'cast_id': 1, 'g...
Name: cast, dtype: object
61 of 156
0    [{'id': 2963, 'movie_id': 9679, 'cast_id': 1, ...
Name: cast, dtype: object
62 of 156
0    [{'id': 35769, 'movie_id': 10473, 'cast_id': 1...
Name: cast, dtype: object
63 of 156
0    [{'id': 64, 'movie_id': 6521, 'cast_id': 1, 'g...
Name: cast, dtype: object
64 of 156
0    [{'id': 6941, 'movie_id': 4327, 'cast_id': 1, ...
Name: cast, dtype: object
65 of 156
0    [{'id': 13240, 'movie_id': 19457, 'cast_id': 1...
Name: cast, dtype: object
66 of 156
0    [{'id': 20738, 'movie_id': 2440, 'cast_id': 15...
Name: cast, dtype: object
67 of 156
0    [{'id': 18976, 'movie_id': 8859, 'cast_id': 1,...
Name: cast, dtype: object
68 of 156
0    [{'id': 193, 'movie_id': 10562, 'cast_id': 1, ...
Name: cast, dtype: object
69 of 156
0    [{'id': 206, 'movie_id': 2123, 'cast_id': 14, ...
Name: cast, dtype: object
70 of 156
0    [{'id': 3317, 'movie_id': 3176, 'cast_id': 9, ...
Name: cast, dtype: object
71 of 156
0    [{'id': 18277, 'movie_id': 1493, 'cast_id': 1,...
Name: cast, dtype: object
72 of 156
0    [{'id': 11181, 'movie_id': 10501, 'cast_id': 1...
Name: cast, dtype: object
73 of 156
0    [{'id': 28782, 'movie_id': 10867, 'cast_id': 1...
Name: cast, dtype: object
74 of 156
0    [{'id': 16866, 'movie_id': 8843, 'cast_id': 1,...
Name: cast, dtype: object
75 of 156
0    [{'id': 1137, 'movie_id': 30970, 'cast_id': 2,...
Name: cast, dtype: object
76 of 156
0    [{'id': 4724, 'movie_id': 9383, 'cast_id': 2, ...
Name: cast, dtype: object
77 of 156
0    [{'id': 1337, 'movie_id': 843, 'cast_id': 20, ...
Name: cast, dtype: object
78 of 156
0    [{'id': 6949, 'movie_id': 10873, 'cast_id': 1,...
Name: cast, dtype: object
79 of 156
0    [{'id': 62, 'movie_id': 9741, 'cast_id': 1, 'g...
Name: cast, dtype: object
80 of 156
Series([], Name: cast, dtype: object)

IndexError: index out of bounds

In [63]:
ids_num[80]

10384

In [65]:
movie_credits_df.iloc[80]

cast              [{'id': 112, 'cast_id': 1, 'gender': 1, 'credi...
crew              [{'id': 7623, 'profile_path': '/uEAaCUJzyMI8N5...
id                                                             2046
status_code                                                     NaN
status_message                                                  NaN
Name: 0, dtype: object

In [64]:
movie_credits_df[movie_credits_df['id']==10384]

,cast,crew,id,status_code,status_message
0,"[{'id': 13548, 'cast_id': 6, 'gender': 2, 'cre...","[{'id': 1723, 'profile_path': '/gCU3dgnNaZuvmA...",10384.0,NaN,NaN

In [74]:
movie_credits_df.head(82)

,index,cast,crew,id,status_code,status_message
0,0,"[{'id': 529, 'movie_id': 77, 'cast_id': 4, 'ge...","[{'id': 525, 'profile_path': '/7OGmfDF4VHLLgbj...",77.0,NaN,NaN
1,0,"[{'id': 934, 'movie_id': 98, 'cast_id': 8, 'ge...","[{'id': 578, 'profile_path': '/oTAL0z0vsjipCru...",98.0,NaN,NaN
2,0,"[{'id': 3894, 'movie_id': 1359, 'cast_id': 3, ...","[{'id': 16378, 'profile_path': '/qlWi0kufzB7lC...",1359.0,NaN,NaN
3,0,"[{'id': 31, 'movie_id': 8358, 'cast_id': 3, 'g...","[{'id': 24, 'profile_path': '/isCuZ9PWIOyXzdf3...",8358.0,NaN,NaN
4,0,"[{'id': 2461, 'movie_id': 7443, 'cast_id': 3, ...","[{'id': 2359, 'profile_path': None, 'job': 'Ex...",7443.0,NaN,NaN
5,0,"[{'id': 500, 'movie_id': 955, 'cast_id': 31, '...","[{'id': 122, 'profile_path': '/j4BGxQq5klTT7hi...",955.0,NaN,NaN
6,0,"[{'id': 1121, 'movie_id': 107, 'cast_id': 19, ...","[{'id': 29, 'profile_path': None, 'job': 'Exec...",107.0,NaN,NaN
7,0,"[{'id': 1461, 'movie_id': 2133, 'cast_id': 16,...","[{'id': 5231, 'profile_path': '/t3Fxy4SBeOWj8T...",2133.0,NaN,NaN
8,0,"[{'id': 15555, 'movie_id': 6282, 'cast_id': 1,...","[{'id': 770, 'profile_path': '/p2rd1kgq7GiCx2n...",6282.0,NaN,NaN
9,0,"[{'id': 8600, 'movie_id': 40096, 'cast_id': 1,...","[{'id': 102560, 'profile_path': '/tAjR4ocM6Vjj...",40096.0,NaN,NaN
10,0,"[{'id': 1619, 'movie_id': 146, 'cast_id': 25, ...","[{'id': 1360, 'profile_path': '/73tjDKqG8qsKyG...",146.0,NaN,NaN
11,0,"[{'id': 60950, 'movie_id': 11688, 'cast_id': 1...","[{'id': 61411, 'profile_path': '/8wetJbZVXQrdf...",11688.0,NaN,NaN
12,0,"[{'id': 2461, 'movie_id': 2024, 'cast_id': 12,...","[{'id': 1594907, 'profile_path': None, 'job': ...",2024.0,NaN,NaN
13,0,"[{'id': 880, 'movie_id': 10862, 'cast_id': 1, ...","[{'id': 57579, 'profile_path': '/xPnPpnylece1h...",10862.0,NaN,NaN
14,0,"[{'id': 6384, 'movie_id': 10393, 'cast_id': 3,...","[{'id': 4500, 'profile_path': '/hTrlvZlDXQk49n...",10393.0,NaN,NaN
15,0,"[{'id': 50398, 'movie_id': 9532, 'cast_id': 1,...","[{'id': 57134, 'profile_path': '/4TIHQFKSdS8WD...",9532.0,NaN,NaN
16,0,"[{'id': 478, 'movie_id': 71, 'cast_id': 16, 'g...","[{'id': 462, 'profile_path': None, 'job': 'Pro...",71.0,NaN,NaN
17,0,"[{'id': 6193, 'movie_id': 1907, 'cast_id': 2, ...","[{'id': 8384, 'profile_path': None, 'job': 'Se...",1907.0,NaN,NaN
18,0,"[{'id': 12898, 'movie_id': 16187, 'cast_id': 6...","[{'id': 56852, 'profile_path': None, 'job': 'D...",16187.0,NaN,NaN
19,0,"[{'id': 28639, 'movie_id': 4247, 'cast_id': 23...","[{'id': 35689, 'profile_path': '/4uCVzk6JrNflr...",4247.0,NaN,NaN
20,0,"[{'id': 62, 'movie_id': 4244, 'cast_id': 1, 'g...","[{'id': 12962, 'profile_path': '/borF48XTUkOCK...",4244.0,NaN,NaN
21,0,"[{'id': 2963, 'movie_id': 9679, 'cast_id': 1, ...","[{'id': 58498, 'profile_path': '/ofWADCsDpNxbT...",9679.0,NaN,NaN
22,0,"[{'id': 35769, 'movie_id': 10473, 'cast_id': 1...","[{'id': 58656, 'profile_path': None, 'job': 'D...",10473.0,NaN,NaN
23,0,"[{'id': 64, 'movie_id': 6521, 'cast_id': 1, 'g...","[{'id': 2121, 'profile_path': None, 'job': 'Ca...",6521.0,NaN,NaN
24,0,"[{'id': 6941, 'movie_id': 4327, 'cast_id': 1, ...","[{'id': 36425, 'profile_path': '/hT0I4rLSOhIQo...",4327.0,NaN,NaN
25,0,"[{'id': 13240, 'movie_id': 19457, 'cast_id': 1...","[{'id': 117, 'profile_path': '/4HbFF5o13GkO0rH...",19457.0,NaN,NaN
26,0,"[{'id': 20738, 'movie_id': 2440, 'cast_id': 15...","[{'id': 10099, 'profile_path': '/oITKgh5vsTZvW...",2440.0,NaN,NaN
27,0,"[{'id': 18976, 'movie_id': 8859, 'cast_id': 1,...","[{'id': 56591, 'profile_path': '/baaonHW8JdQXy...",8859.0,NaN,NaN
28,0,"[{'id': 193, 'movie_id': 10562, 'cast_id': 1, ...","[{'id': 2042, 'profile_path': '/9htj3BqGWBJGEd...",10562.0,NaN,NaN
29,0,"[{'id': 206, 'movie_id': 2123, 'cast_id': 14, ...","[{'id': 7396, 'profile_path': '/gJcM7v6tTOKXfi...",2123.0,NaN,NaN
...,...,...,...,...,...,...
52,0,"[{'id': 33654, 'cast_id': 13, 'gender': 2, 'cr...","[{'id': 7068, 'profile_path': None, 'job': 'Ed...",9285.0,NaN,NaN
53,0,"[{'id': 3, 'cast_id': 2, 'gender': 2, 'credit_...","[{'id': 37, 'profile_path': '/chEsfnDEtRmv1bfO...",2655.0,NaN,NaN
54,0,"[{'id': 10814, 'cast_id': 9, 'gender': 2, 'cre...","[{'id': 25735, 'profile_path': '/dz0da6lHPAzAF...",11398.0,NaN,NaN
55,0,"[{'id': 1979, 'cast_id': 1, 'gender': 2, 'cred...","[{'id': 72467, 'profile_path': None, 'job': 'D...",12490.0,NaN,NaN
56,0,"[{'id': 8783, 'cast_id': 1, 'gender': 2, 'cred...","[{'id': 37618, 'profile_path': '/r80gQB1iYTMSj...",9519.0,NaN,NaN
57,0,"[{'id': 1204, 'cast_id': 25, 'gender': 1, 'cre...","[{'id': 1884, 'profile_path': '/dxdMRsAosaGlMR...",462.0,NaN,NaN
58,0,"[{'id': 1892, 'cast_id': 28, 'gender': 2, 'cre...","[{'id': 495, 'profile_path': None, 'job': 'Cas...",4958.0,NaN,NaN
59,0,"[{'id': 880, 'cast_id': 1, 'gender': 2, 'credi...","[{'id': 12090, 'profile_path': None, 'job': 'C...",16366.0,NaN,NaN
60,0,"[{'id': 3036, 'cast_id': 7, 'gender': 2, 'cred...","[{'id': 3224, 'profile_path': '/8IewTBLTPujw1t...",243.0,NaN,NaN
61,0,"[{'id': 18897, 'cast_id': 4, 'gender': 2, 'cre...","[{'id': 4504, 'profile_path': None, 'job': 'Pr...",8584.0,NaN,NaN
62,0,"[{'id': 190, 'cast_id': 11, 'gender': 2, 'cred...","[{'id': 190, 'profile_path': '/wJosJW9DNWHOA8h...",5551.0,NaN,NaN
63,0,"[{'id': 13548, 'cast_id': 6, 'gender': 2, 'cre...","[{'id': 1723, 'profile_path': '/gCU3dgnNaZuvmA...",10384.0,NaN,NaN
64,0,"[{'id': 3905, 'cast_id': 1, 'gender': 2, 'cred...","[{'id': 29525, 'profile_path': None, 'job': 'P...",20637.0,NaN,NaN
65,0,"[{'id': 77196, 'cast_id': 1, 'gender': 2, 'cre...","[{'id': 5281, 'profile_path': '/zTsaE7GrLnOV62...",14736.0,NaN,NaN
66,0,"[{'id': 143036, 'cast_id': 2, 'gender': 2, 'cr...","[{'id': 143035, 'profile_path': '/ziiIOHdtINX3...",25538.0,NaN,NaN
67,0,"[{'id': 15234, 'cast_id': 15, 'gender': 2, 'cr...","[{'id': 1392233, 'profile_path': None, 'job': ...",4234.0,NaN,NaN
68,0,"[{'id': 78029, 'cast_id': 14, 'gender': 2, 'cr...","[{'id': 1215, 'profile_path': '/jbcOXhl4QGaYcv...",9600.0,NaN,NaN
69,0,"[{'id': 2231, 'cast_id': 6, 'gender': 2, 'cred...","[{'id': 6482, 'profile_path': '/xmVaXjAAywPh7H...",479.0,NaN,NaN
70,0,"[{'id': 1100, 'cast_id': 1, 'gender': 2, 'cred...","[{'id': 1724, 'profile_path': '/hH8tIBh0RI7VwI...",8452.0,NaN,NaN
71,0,"[{'id': 62, 'cast_id': 10, 'gender': 2, 'credi...","[{'id': 1486763, 'profile_path': '/i9jLwuwVgAN...",2069.0,NaN,NaN
72,0,"[{'id': 7132, 'cast_id': 1, 'gender': 2, 'cred...","[{'id': 37948, 'profile_path': '/qjEl3MLqL4MDZ...",22230.0,NaN,NaN
73,0,"[{'id': 13918, 'cast_id': 5, 'gender': 1, 'cre...","[{'id': 1524, 'profile_path': '/dFERLL9HGBw9xG...",1636.0,NaN,NaN
74,0,"[{'id': 380, 'cast_id': 11, 'gender': 2, 'cred...","[{'id': 4140, 'profile_path': '/juP82LbS9chU3V...",11978.0,NaN,NaN
75,0,"[{'id': 1205, 'cast_id': 1, 'gender': 2, 'cred...","[{'id': 6720, 'profile_path': '/ekWS5bAB0kv4RC...",10641.0,NaN,NaN
76,0,"[{'id': 515, 'cast_id': 1, 'gender': 1, 'credi...","[{'id': 15775, 'profile_path': '/725jzhxXkAPIq...",10481.0,NaN,NaN
77,0,"[{'id': 880, 'cast_id': 17, 'gender': 2, 'cred...","[{'id': 37, 'profile_path': '/chEsfnDEtRmv1bfO...",2155.0,NaN,NaN
78,0,"[{'id': 3636, 'cast_id': 3, 'gender': 2, 'cred...","[{'id': 78523, 'profile_path': None, 'job': 'D...",31776.0,NaN,NaN
79,0,"[{'id': 1003, 'cast_id': 2, 'gender': 2, 'cred...","[{'id': 2406, 'profile_path': '/h0LpOBDRawf5pS...",60670.0,NaN,NaN
80,0,"[{'id': 112, 'cast_id': 1, 'gender': 1, 'credi...","[{'id': 7623, 'profile_path': '/uEAaCUJzyMI8N5...",2046.0,NaN,NaN
81,0,"[{'id': 776, 'cast_id': 15, 'gender': 2, 'cred...","[{'id': 13426, 'profile_path': '/4wl3AZ16vUhFu...",12107.0,NaN,NaN