In [3]:
import http.client
import json
#from settings import API_KEY
import time
from pandas.io.json import json_normalize
import pandas as pd
import  csv
import ast
API_KEY = 'd91501d816e13b84b665bce29f571e7a'

## Funções

In [4]:
def get_url_credits(movie_id, api_key):
    return("/3/movie/" + str(movie_id) + "/credits" + "?api_key=" + str(api_key))

def get_json(conn, url):
	payload = "{}"
	conn.request("GET", url, payload)
	res = conn.getresponse()
	data = res.read()
	return(json.loads(data.decode("    utf-8")))

In [43]:
def get_movie_credits(ids):
    
	conn = http.client.HTTPSConnection("api.themoviedb.org")    
	movie_credits_df = pd.DataFrame()
    
	for movie_id in ids:
		url = get_url_credits(movie_id, API_KEY)
        
		try:
			credits_data = get_json(conn, url)
		except Exception as e:
			if (credits_data['status_code'] == 25):
				time.sleep(10)                
				credits_data = get_json(conn, url)        
        
		df = json_normalize(credits_data)
		movie_credits_df = movie_credits_df.append(df)

	return movie_credits_df

In [62]:
def get_cast(ids, movie_credits_df):

    movie_cast_df = pd.DataFrame()

    print(movie_credits_df['id'])
    for idx,movie_id in enumerate(ids,40):

        movie_item = pd.DataFrame()
        #print(movie_credits_df.head(90))
        print("movie_id: %s" % (movie_id))
        movie_item = movie_credits_df[movie_credits_df['id']==movie_id].reset_index()
        print(movie_item.head(90))
        print("%s of %s" % (idx,len(ids)))

        print(movie_item['cast'])
        
        for cast_id in movie_item['cast'][0]:
            cast_id.update({'movie_id': int(movie_id)})
            cast_id.pop('profile_path', None)
            movie_cast_df = movie_cast_df.append(cast_id, ignore_index=True)
    
    return movie_cast_df

## Testes

In [9]:
with open('out_sample.csv', 'r') as f:
#with open('out_all.csv', 'r') as f:    
    reader = csv.reader(f, skipinitialspace=True, delimiter=',')
    ids_list = list(reader)
    
ids = [item for sublist in ids_list for item in sublist]

In [10]:
len(ids)

156

In [11]:
# Transformando ids em numérico
ids_num = list(map(int, ids))

In [44]:
movie_credits_df = get_movie_credits(ids_num)

In [45]:
movie_credits_df.shape

(156, 5)

In [46]:
movie_credits_df = movie_credits_df.drop_duplicates('id', keep='first')

In [47]:
movie_credits_df['id'].isnull().sum()

1

In [48]:
movie_credits_df[movie_credits_df['id'].isnull()]

,cast,crew,id,status_code,status_message
0,NaN,NaN,NaN,25.0,Your request count (41) is over the allowed li...

In [49]:
movie_credits_df = movie_credits_df[movie_credits_df['status_code'] != 25]

In [50]:
movie_credits_df['id'].isnull().sum()

0

In [51]:
movie_credits_df = movie_credits_df.reset_index()

In [52]:
from IPython.display import display
pd.options.display.max_rows = None
movie_credits_df.head(90)

,index,cast,crew,id,status_code,status_message
0,0,"[{'name': 'Guy Pearce', 'id': 529, 'cast_id': ...","[{'name': 'Christopher Nolan', 'department': '...",77.0,NaN,NaN
1,0,"[{'name': 'Russell Crowe', 'id': 934, 'cast_id...","[{'name': 'Hans Zimmer', 'department': 'Sound'...",98.0,NaN,NaN
2,0,"[{'name': 'Christian Bale', 'id': 3894, 'cast_...","[{'name': 'Suzanne Smith', 'department': 'Prod...",1359.0,NaN,NaN
3,0,"[{'name': 'Tom Hanks', 'id': 31, 'cast_id': 3,...","[{'name': 'Alan Silvestri', 'department': 'Sou...",8358.0,NaN,NaN
4,0,"[{'name': 'Mel Gibson', 'id': 2461, 'cast_id':...","[{'name': 'Jake Eberts', 'department': 'Produc...",7443.0,NaN,NaN
5,0,"[{'name': 'Tom Cruise', 'id': 500, 'cast_id': ...","[{'name': 'Klaus Badelt', 'department': 'Crew'...",955.0,NaN,NaN
6,0,"[{'name': 'Benicio del Toro', 'id': 1121, 'cas...","[{'name': 'Guy Ritchie', 'department': 'Direct...",107.0,NaN,NaN
7,0,"[{'name': 'George Clooney', 'id': 1461, 'cast_...","[{'name': 'Wolfgang Petersen', 'department': '...",2133.0,NaN,NaN
8,0,"[{'name': 'Piper Perabo', 'id': 15555, 'cast_i...","[{'name': 'Jerry Bruckheimer', 'department': '...",6282.0,NaN,NaN
9,0,"[{'name': 'Matheus Nachtergaele', 'id': 8600, ...","[{'name': 'Guel Arraes', 'department': 'Direct...",40096.0,NaN,NaN
10,0,"[{'name': 'Chow Yun-fat', 'id': 1619, 'cast_id...","[{'name': 'Ang Lee', 'department': 'Directing'...",146.0,NaN,NaN
11,0,"[{'name': 'David Spade', 'id': 60950, 'cast_id...","[{'name': 'David Reynolds', 'department': 'Wri...",11688.0,NaN,NaN
12,0,"[{'name': 'Mel Gibson', 'id': 2461, 'cast_id':...","[{'name': 'Roland Emmerich', 'department': 'Di...",2024.0,NaN,NaN
13,0,"[{'name': 'Ben Affleck', 'id': 880, 'cast_id':...","[{'name': 'Don Roos', 'department': 'Directing...",10862.0,NaN,NaN
14,0,"[{'name': 'Keanu Reeves', 'id': 6384, 'cast_id...","[{'name': 'John Debney', 'department': 'Sound'...",10393.0,NaN,NaN
15,0,"[{'name': 'Devon Sawa', 'id': 50398, 'cast_id'...","[{'name': 'James Wong', 'department': 'Directi...",9532.0,NaN,NaN
16,0,"[{'name': 'Jamie Bell', 'id': 478, 'cast_id': ...","[{'name': 'Greg Brenman', 'department': 'Produ...",71.0,NaN,NaN
17,0,"[{'name': 'Leonardo DiCaprio', 'id': 6193, 'ca...","[{'name': 'Danny Boyle', 'department': 'Direct...",1907.0,NaN,NaN
18,0,"[{'name': 'Tim Allen', 'id': 12898, 'cast_id':...","[{'name': 'Tad Stones', 'department': 'Directi...",16187.0,NaN,NaN
19,0,"[{'name': 'Carmen Electra', 'id': 28639, 'cast...","[{'name': 'Mark Helfrich', 'department': 'Edit...",4247.0,NaN,NaN
20,0,"[{'name': 'Bruce Willis', 'id': 62, 'cast_id':...","[{'name': 'Stephen J. Eads', 'department': 'Pr...",4244.0,NaN,NaN
21,0,"[{'name': 'Nicolas Cage', 'id': 2963, 'cast_id...","[{'name': 'Jerry Bruckheimer', 'department': '...",9679.0,NaN,NaN
22,0,"[{'name': 'Christopher Masterson', 'id': 35769...","[{'name': 'Doug Lefler', 'department': 'Direct...",10473.0,NaN,NaN
23,0,"[{'name': 'Gary Oldman', 'id': 64, 'cast_id': ...","[{'name': 'Rod Lurie', 'department': 'Directin...",6521.0,NaN,NaN
24,0,"[{'name': 'Cameron Diaz', 'id': 6941, 'cast_id...","[{'name': 'McG', 'department': 'Directing', 'i...",4327.0,NaN,NaN
25,0,"[{'name': 'Mark Wahlberg', 'id': 13240, 'cast_...","[{'name': 'Howard Shore', 'department': 'Sound...",19457.0,NaN,NaN
26,0,"[{'name': 'Song Kang-ho', 'id': 20738, 'cast_i...","[{'name': 'Park Chan-wook', 'department': 'Dir...",2440.0,NaN,NaN
27,0,"[{'name': 'Ashton Kutcher', 'id': 18976, 'cast...","[{'name': 'Ronnie Yeskel', 'department': 'Prod...",8859.0,NaN,NaN
28,0,"[{'name': 'Gene Hackman', 'id': 193, 'cast_id'...","[{'name': 'Stephen Hopkins', 'department': 'Di...",10562.0,NaN,NaN
29,0,"[{'name': 'Jim Carrey', 'id': 206, 'cast_id': ...","[{'name': 'Peter Farrelly', 'department': 'Dir...",2123.0,NaN,NaN
30,0,"[{'name': 'Takeshi Kitano', 'id': 3317, 'cast_...","[{'name': 'Koushun Takami', 'department': 'Wri...",3176.0,NaN,NaN
31,0,"[{'name': 'Sandra Bullock', 'id': 18277, 'cast...","[{'name': 'Donald Petrie', 'department': 'Dire...",1493.0,NaN,NaN
32,0,"[{'name': 'Kenneth Branagh', 'id': 11181, 'cas...","[{'name': 'Ted Elliott', 'department': 'Writin...",10501.0,NaN,NaN
33,0,"[{'name': 'Monica Bellucci', 'id': 28782, 'cas...","[{'name': 'Ennio Morricone', 'department': 'So...",10867.0,NaN,NaN
34,0,"[{'name': 'Jennifer Lopez', 'id': 16866, 'cast...","[{'name': 'Ronna Kress', 'department': 'Produc...",8843.0,NaN,NaN
35,0,"[{'name': 'Juliette Binoche', 'id': 1137, 'cas...","[{'name': 'Marin Karmitz', 'department': 'Prod...",30970.0,NaN,NaN
36,0,"[{'name': 'Kevin Bacon', 'id': 4724, 'cast_id'...","[{'name': 'John M. Dwyer', 'department': 'Art'...",9383.0,NaN,NaN
37,0,"[{'name': 'Tony Leung Chiu-Wai', 'id': 1337, '...","[{'name': 'Christopher Doyle', 'department': '...",843.0,NaN,NaN
38,0,"[{'name': 'John Malkovich', 'id': 6949, 'cast_...","[{'name': 'E. Elias Merhige', 'department': 'D...",10873.0,NaN,NaN
39,0,"[{'name': 'Bruce Willis', 'id': 62, 'cast_id':...","[{'name': 'M. Night Shyamalan', 'department': ...",9741.0,NaN,NaN
40,0,"[{'name': 'Sean Connery', 'id': 738, 'cast_id'...","[{'name': 'Sean Connery', 'department': 'Produ...",711.0,NaN,NaN
41,0,"[{'name': 'Kevin Spacey', 'id': 1979, 'cast_id...","[{'name': 'Mimi Leder', 'department': 'Directi...",10647.0,NaN,NaN
42,0,"[{'name': 'Ralph Eggleston', 'id': 7883, 'cast...","[{'name': 'Ralph Eggleston', 'department': 'Pr...",13930.0,NaN,NaN
43,0,"[{'name': 'Jennifer Morrison', 'id': 41421, 'c...","[{'name': 'Paul Harris Boardman', 'department'...",12212.0,NaN,NaN
44,0,"[{'name': 'Alan Rickman', 'id': 4566, 'cast_id...","[{'name': 'Stefan Fjeldmark', 'department': 'D...",12609.0,NaN,NaN
45,0,"[{'name': 'Christopher Lambert', 'id': 38559, ...","[{'name': 'Bob Weinstein', 'department': 'Prod...",12211.0,NaN,NaN
46,0,"[{'name': 'Gael García Bernal', 'id': 258, 'ca...","[{'name': 'Alejandro González Iñárritu', 'depa...",55.0,NaN,NaN
47,0,"[{'name': 'Ben Stiller', 'id': 7399, 'cast_id'...","[{'name': 'Robert De Niro', 'department': 'Pro...",1597.0,NaN,NaN
48,0,"[{'name': 'Jet Li', 'id': 1336, 'cast_id': 8, ...","[{'name': 'Andrzej Bartkowiak', 'department': ...",2085.0,NaN,NaN
49,0,"[{'name': 'Richard Gere', 'id': 1205, 'cast_id...","[{'name': 'Geraldine Peroni', 'department': 'E...",10763.0,NaN,NaN
50,0,"[{'name': 'Sandra Bullock', 'id': 18277, 'cast...","[{'name': 'Eric Blakeney', 'department': 'Dire...",29076.0,NaN,NaN
51,0,"[{'name': 'Amanda Schull', 'id': 65871, 'cast_...","[{'name': 'Tariq Anwar', 'department': 'Editin...",10560.0,NaN,NaN
52,0,"[{'name': 'Michael Douglas', 'id': 3392, 'cast...","[{'name': 'Steven Soderbergh', 'department': '...",1900.0,NaN,NaN
53,0,"[{'name': 'George Clooney', 'id': 1461, 'cast_...","[{'name': 'Joel Coen', 'department': 'Directin...",134.0,NaN,NaN
54,0,"[{'name': 'Matthew McConaughey', 'id': 10297, ...","[{'name': 'Jonathan Mostow', 'department': 'Di...",3536.0,NaN,NaN
55,0,"[{'name': 'Bill Farmer', 'id': 84213, 'cast_id...","[{'name': 'Douglas McCarthy', 'department': 'D...",15653.0,NaN,NaN
56,0,"[{'name': 'Joshua Jackson', 'id': 11866, 'cast...","[{'name': 'Neal H. Moritz', 'department': 'Pro...",11478.0,NaN,NaN
57,0,"[{'name': 'D. B. Sweeney', 'id': 61962, 'cast_...","[{'name': 'James Newton Howard', 'department':...",10567.0,NaN,NaN
58,0,"[{'name': 'Björk', 'id': 47, 'cast_id': 33, 'o...","[{'name': 'Lars von Trier', 'department': 'Dir...",16.0,NaN,NaN
59,0,"[{'name': 'Freddie Prinze Jr.', 'id': 33260, '...","[{'name': 'Bob Weinstein', 'department': 'Prod...",10571.0,NaN,NaN
60,0,"[{'name': 'Ray Winstone', 'id': 5538, 'cast_id...","[{'name': 'Jeremy Thomas', 'department': 'Prod...",11826.0,NaN,NaN
61,0,"[{'name': 'Helen Hunt', 'id': 9994, 'cast_id':...","[{'name': 'Alan Silvestri', 'department': 'Sou...",3981.0,NaN,NaN
62,0,"[{'name': 'Breckin Meyer', 'id': 33654, 'cast_...","[{'name': 'Todd Phillips', 'department': 'Dire...",9285.0,NaN,NaN
63,0,"[{'name': 'Harrison Ford', 'id': 3, 'cast_id':...","[{'name': 'Alan Silvestri', 'department': 'Sou...",2655.0,NaN,NaN
64,0,"[{'name': 'Wesley Snipes', 'id': 10814, 'cast_...","[{'name': 'Christian Duguay', 'department': 'D...",11398.0,NaN,NaN
65,0,"[{'name': 'Kevin Spacey', 'id': 1979, 'cast_id...","[{'name': 'William M. Anderson', 'department':...",12490.0,NaN,NaN
66,0,"[{'name': 'Eric Bana', 'id': 8783, 'cast_id': ...","[{'name': 'Andrew Dominik', 'department': 'Wri...",9519.0,NaN,NaN
67,0,"[{'name': 'Julia Roberts', 'id': 1204, 'cast_i...","[{'name': 'Steven Soderbergh', 'department': '...",462.0,NaN,NaN
68,0,"[{'name': 'Matt Damon', 'id': 1892, 'cast_id':...","[{'name': 'Robert Redford', 'department': 'Pro...",4958.0,NaN,NaN
69,0,"[{'name': 'Ben Affleck', 'id': 880, 'cast_id':...","[{'name': 'Leslee Feldman', 'department': 'Pro...",16366.0,NaN,NaN
70,0,"[{'name': 'John Cusack', 'id': 3036, 'cast_id'...","[{'name': 'Stephen Frears', 'department': 'Dir...",243.0,NaN,NaN
71,0,"[{'name': 'Jackie Chan', 'id': 18897, 'cast_id...","[{'name': 'Roger Birnbaum', 'department': 'Pro...",8584.0,NaN,NaN
72,0,"[{'name': 'Clint Eastwood', 'id': 190, 'cast_i...","[{'name': 'Clint Eastwood', 'department': 'Dir...",5551.0,NaN,NaN
73,0,"[{'name': 'James Spader', 'id': 13548, 'cast_i...","[{'name': 'Walter Hill', 'department': 'Direct...",10384.0,NaN,NaN
74,0,"[{'name': 'William H. Macy', 'id': 3905, 'cast...","[{'name': 'Andrew Lazar', 'department': 'Produ...",20637.0,NaN,NaN
75,0,"[{'name': 'Chris Warren, Jr.', 'id': 77196, 'c...","[{'name': 'Dena Roth', 'department': 'Art', 'i...",14736.0,NaN,NaN
76,0,"[{'name': 'Wu Nien-Jen', 'id': 143036, 'cast_i...","[{'name': 'Edward Yang', 'department': 'Direct...",25538.0,NaN,NaN
77,0,"[{'name': 'David Arquette', 'id': 15234, 'cast...","[{'name': 'Cathy Konrad', 'department': 'Produ...",4234.0,NaN,NaN
78,0,"[{'name': 'Martin Lawrence', 'id': 78029, 'cas...","[{'name': 'Raja Gosnell', 'department': 'Direc...",9600.0,NaN,NaN
79,0,"[{'name': 'Samuel L. Jackson', 'id': 2231, 'ca...","[{'name': 'Richard Price', 'department': 'Writ...",479.0,NaN,NaN
80,0,"[{'name': 'Paul Newman', 'id': 3636, 'cast_id'...","[{'name': 'E. Max Frye', 'department': 'Writin...",31776.0,NaN,NaN
81,0,"[{'name': 'Jean Reno', 'id': 1003, 'cast_id': ...","[{'name': 'Thierry Arbogast', 'department': 'C...",60670.0,NaN,NaN
82,0,"[{'name': 'Lars Rudolph', 'id': 1087, 'cast_id...","[{'name': 'Béla Tarr', 'department': 'Directin...",23160.0,NaN,NaN
83,0,"[{'name': 'Kate Hudson', 'id': 11661, 'cast_id...","[{'name': 'Clay A. Griffith', 'department': 'A...",786.0,NaN,NaN
84,0,"[{'name': 'Matt Damon', 'id': 1892, 'cast_id':...","[{'name': 'Don Bluth', 'department': 'Directin...",7450.0,NaN,NaN
85,0,"[{'name': 'Richard E. Grant', 'id': 20766, 'ca...","[{'name': 'Uli Edel', 'department': 'Directing...",24100.0,NaN,NaN
86,0,"[{'name': 'Tommy Lee Jones', 'id': 2176, 'cast...","[{'name': 'William Friedkin', 'department': 'D...",10479.0,NaN,NaN
87,0,"[{'name': 'Juliette Binoche', 'id': 1137, 'cas...","[{'name': 'Lasse Hallström', 'department': 'Di...",392.0,NaN,NaN
88,0,"[{'name': 'Yuliya Mayarchuk', 'id': 89142, 'ca...","[{'name': 'Pino Donaggio', 'department': 'Soun...",22705.0,NaN,NaN
89,0,"[{'name': 'Veronica Taylor', 'id': 67830, 'cas...","[{'name': 'Michael Haigney', 'department': 'Di...",10991.0,NaN,NaN

In [63]:
movie_cast_df = get_cast(ids_num, movie_credits_df)

0          77.0
1          98.0
2        1359.0
3        8358.0
4        7443.0
5         955.0
6         107.0
7        2133.0
8        6282.0
9       40096.0
10        146.0
11      11688.0
12       2024.0
13      10862.0
14      10393.0
15       9532.0
16         71.0
17       1907.0
18      16187.0
19       4247.0
20       4244.0
21       9679.0
22      10473.0
23       6521.0
24       4327.0
25      19457.0
26       2440.0
27       8859.0
28      10562.0
29       2123.0
30       3176.0
31       1493.0
32      10501.0
33      10867.0
34       8843.0
35      30970.0
36       9383.0
37        843.0
38      10873.0
39       9741.0
40        711.0
41      10647.0
42      13930.0
43      12212.0
44      12609.0
45      12211.0
46         55.0
47       1597.0
48       2085.0
49      10763.0
50      29076.0
51      10560.0
52       1900.0
53        134.0
54       3536.0
55      15653.0
56      11478.0
57      10567.0
58         16.0
59      10571.0
60      11826.0
61       3981.0
62       9285.0
63       2655.0
64      11398.0
65      12490.0
66       9519.0
67        462.0
68       4958.0
69      16366.0
70        243.0
71       8584.0
72       5551.0
73      10384.0
74      20637.0
75      14736.0
76      25538.0
77       4234.0
78       9600.0
79        479.0
80      31776.0
81      60670.0
82      23160.0
83        786.0
84       7450.0
85      24100.0
86      10479.0
87        392.0
88      22705.0
89      10991.0
90      17711.0
91      11678.0
92      15655.0
93      14181.0
94      15489.0
95      11973.0
96      10642.0
97      14195.0
98     110147.0
99      12509.0
100     24102.0
101      2046.0
102     12107.0
103     11518.0
104      2332.0
105     18041.0
106      5257.0
107      9871.0
108      8870.0
109     10687.0
110      9678.0
111     10559.0
112     10637.0
113      5994.0
114     10480.0
115     14295.0
116     10564.0
117      3716.0
118     13785.0
119       889.0
120     21355.0
121     10468.0
122     10577.0
123      1698.0
124     12597.0
125      9011.0
126     16234.0
127      2067.0
128     10385.0
129     10383.0
130     30944.0
131     51333.0
132     15999.0
Name: id, dtype: float64
movie_id: 77
   level_0  index                                               cast  \
0        0      0  [{'name': 'Guy Pearce', 'id': 529, 'cast_id': ...

                                                crew    id  status_code  \
0  [{'name': 'Christopher Nolan', 'department': '...  77.0          NaN

  status_message
0            NaN
40 of 156
0    [{'name': 'Guy Pearce', 'id': 529, 'cast_id': ...
Name: cast, dtype: object
movie_id: 98
   level_0  index                                               cast  \
0        1      0  [{'name': 'Russell Crowe', 'id': 934, 'cast_id...

                                                crew    id  status_code  \
0  [{'name': 'Hans Zimmer', 'department': 'Sound'...  98.0          NaN

  status_message
0            NaN
41 of 156
0    [{'name': 'Russell Crowe', 'id': 934, 'cast_id...
Name: cast, dtype: object
movie_id: 1359
   level_0  index                                               cast  \
0        2      0  [{'name': 'Christian Bale', 'id': 3894, 'cast_...

                                                crew      id  status_code  \
0  [{'name': 'Suzanne Smith', 'department': 'Prod...  1359.0          NaN

  status_message
0            NaN
42 of 156
0    [{'name': 'Christian Bale', 'id': 3894, 'cast_...
Name: cast, dtype: object
movie_id: 8358
   level_0  index                                               cast  \
0        3      0  [{'name': 'Tom Hanks', 'id': 31, 'cast_id': 3,...

                                                crew      id  status_code  \
0  [{'name': 'Alan Silvestri', 'department': 'Sou...  8358.0          NaN

  status_message
0            NaN
43 of 156
0    [{'name': 'Tom Hanks', 'id': 31, 'cast_id': 3,...
Name: cast, dtype: object
movie_id: 7443
   level_0  index                                               cast  \
0        4      0  [{'name': 'Mel Gibson', 'id': 2461, 'cast_id':...

                                                crew      id  status_code  \
0  [{'name': 'Jake Eberts', 'department': 'Produc...  7443.0          NaN

  status_message
0            NaN
44 of 156
0    [{'name': 'Mel Gibson', 'id': 2461, 'cast_id':...
Name: cast, dtype: object
movie_id: 955
   level_0  index                                               cast  \
0        5      0  [{'name': 'Tom Cruise', 'id': 500, 'cast_id': ...

                                                crew     id  status_code  \
0  [{'name': 'Klaus Badelt', 'department': 'Crew'...  955.0          NaN

  status_message
0            NaN
45 of 156
0    [{'name': 'Tom Cruise', 'id': 500, 'cast_id': ...
Name: cast, dtype: object
movie_id: 107
   level_0  index                                               cast  \
0        6      0  [{'name': 'Benicio del Toro', 'id': 1121, 'cas...

                                                crew     id  status_code  \
0  [{'name': 'Guy Ritchie', 'department': 'Direct...  107.0          NaN

  status_message
0            NaN
46 of 156
0    [{'name': 'Benicio del Toro', 'id': 1121, 'cas...
Name: cast, dtype: object
movie_id: 2133
   level_0  index                                               cast  \
0        7      0  [{'name': 'George Clooney', 'id': 1461, 'cast_...

                                                crew      id  status_code  \
0  [{'name': 'Wolfgang Petersen', 'department': '...  2133.0          NaN

  status_message
0            NaN
47 of 156
0    [{'name': 'George Clooney', 'id': 1461, 'cast_...
Name: cast, dtype: object
movie_id: 6282
   level_0  index                                               cast  \
0        8      0  [{'name': 'Piper Perabo', 'id': 15555, 'cast_i...

                                                crew      id  status_code  \
0  [{'name': 'Jerry Bruckheimer', 'department': '...  6282.0          NaN

  status_message
0            NaN
48 of 156
0    [{'name': 'Piper Perabo', 'id': 15555, 'cast_i...
Name: cast, dtype: object
movie_id: 40096
   level_0  index                                               cast  \
0        9      0  [{'name': 'Matheus Nachtergaele', 'id': 8600, ...

                                                crew       id  status_code  \
0  [{'name': 'Guel Arraes', 'department': 'Direct...  40096.0          NaN

  status_message
0            NaN
49 of 156
0    [{'name': 'Matheus Nachtergaele', 'id': 8600, ...
Name: cast, dtype: object
movie_id: 146
   level_0  index                                               cast  \
0       10      0  [{'name': 'Chow Yun-fat', 'id': 1619, 'cast_id...

                                                crew     id  status_code  \
0  [{'name': 'Ang Lee', 'department': 'Directing'...  146.0          NaN

  status_message
0            NaN
50 of 156
0    [{'name': 'Chow Yun-fat', 'id': 1619, 'cast_id...
Name: cast, dtype: object
movie_id: 11688
   level_0  index                                               cast  \
0       11      0  [{'name': 'David Spade', 'id': 60950, 'cast_id...

                                                crew       id  status_code  \
0  [{'name': 'David Reynolds', 'department': 'Wri...  11688.0          NaN

  status_message
0            NaN
51 of 156
0    [{'name': 'David Spade', 'id': 60950, 'cast_id...
Name: cast, dtype: object
movie_id: 2024
   level_0  index                                               cast  \
0       12      0  [{'name': 'Mel Gibson', 'id': 2461, 'cast_id':...

                                                crew      id  status_code  \
0  [{'name': 'Roland Emmerich', 'department': 'Di...  2024.0          NaN

  status_message
0            NaN
52 of 156
0    [{'name': 'Mel Gibson', 'id': 2461, 'cast_id':...
Name: cast, dtype: object
movie_id: 10862
   level_0  index                                               cast  \
0       13      0  [{'name': 'Ben Affleck', 'id': 880, 'cast_id':...

                                                crew       id  status_code  \
0  [{'name': 'Don Roos', 'department': 'Directing...  10862.0          NaN

  status_message
0            NaN
53 of 156
0    [{'name': 'Ben Affleck', 'id': 880, 'cast_id':...
Name: cast, dtype: object
movie_id: 10393
   level_0  index                                               cast  \
0       14      0  [{'name': 'Keanu Reeves', 'id': 6384, 'cast_id...

                                                crew       id  status_code  \
0  [{'name': 'John Debney', 'department': 'Sound'...  10393.0          NaN

  status_message
0            NaN
54 of 156
0    [{'name': 'Keanu Reeves', 'id': 6384, 'cast_id...
Name: cast, dtype: object
movie_id: 9532
   level_0  index                                               cast  \
0       15      0  [{'name': 'Devon Sawa', 'id': 50398, 'cast_id'...

                                                crew      id  status_code  \
0  [{'name': 'James Wong', 'department': 'Directi...  9532.0          NaN

  status_message
0            NaN
55 of 156
0    [{'name': 'Devon Sawa', 'id': 50398, 'cast_id'...
Name: cast, dtype: object
movie_id: 71
   level_0  index                                               cast  \
0       16      0  [{'name': 'Jamie Bell', 'id': 478, 'cast_id': ...

                                                crew    id  status_code  \
0  [{'name': 'Greg Brenman', 'department': 'Produ...  71.0          NaN

  status_message
0            NaN
56 of 156
0    [{'name': 'Jamie Bell', 'id': 478, 'cast_id': ...
Name: cast, dtype: object
movie_id: 1907
   level_0  index                                               cast  \
0       17      0  [{'name': 'Leonardo DiCaprio', 'id': 6193, 'ca...

                                                crew      id  status_code  \
0  [{'name': 'Danny Boyle', 'department': 'Direct...  1907.0          NaN

  status_message
0            NaN
57 of 156
0    [{'name': 'Leonardo DiCaprio', 'id': 6193, 'ca...
Name: cast, dtype: object
movie_id: 16187
   level_0  index                                               cast  \
0       18      0  [{'name': 'Tim Allen', 'id': 12898, 'cast_id':...

                                                crew       id  status_code  \
0  [{'name': 'Tad Stones', 'department': 'Directi...  16187.0          NaN

  status_message
0            NaN
58 of 156
0    [{'name': 'Tim Allen', 'id': 12898, 'cast_id':...
Name: cast, dtype: object
movie_id: 4247
   level_0  index                                               cast  \
0       19      0  [{'name': 'Carmen Electra', 'id': 28639, 'cast...

                                                crew      id  status_code  \
0  [{'name': 'Mark Helfrich', 'department': 'Edit...  4247.0          NaN

  status_message
0            NaN
59 of 156
0    [{'name': 'Carmen Electra', 'id': 28639, 'cast...
Name: cast, dtype: object
movie_id: 4244
   level_0  index                                               cast  \
0       20      0  [{'name': 'Bruce Willis', 'id': 62, 'cast_id':...

                                                crew      id  status_code  \
0  [{'name': 'Stephen J. Eads', 'department': 'Pr...  4244.0          NaN

  status_message
0            NaN
60 of 156
0    [{'name': 'Bruce Willis', 'id': 62, 'cast_id':...
Name: cast, dtype: object
movie_id: 9679
   level_0  index                                               cast  \
0       21      0  [{'name': 'Nicolas Cage', 'id': 2963, 'cast_id...

                                                crew      id  status_code  \
0  [{'name': 'Jerry Bruckheimer', 'department': '...  9679.0          NaN

  status_message
0            NaN
61 of 156
0    [{'name': 'Nicolas Cage', 'id': 2963, 'cast_id...
Name: cast, dtype: object
movie_id: 10473
   level_0  index                                               cast  \
0       22      0  [{'name': 'Christopher Masterson', 'id': 35769...

                                                crew       id  status_code  \
0  [{'name': 'Doug Lefler', 'department': 'Direct...  10473.0          NaN

  status_message
0            NaN
62 of 156
0    [{'name': 'Christopher Masterson', 'id': 35769...
Name: cast, dtype: object
movie_id: 6521
   level_0  index                                               cast  \
0       23      0  [{'name': 'Gary Oldman', 'id': 64, 'cast_id': ...

                                                crew      id  status_code  \
0  [{'name': 'Rod Lurie', 'department': 'Directin...  6521.0          NaN

  status_message
0            NaN
63 of 156
0    [{'name': 'Gary Oldman', 'id': 64, 'cast_id': ...
Name: cast, dtype: object
movie_id: 4327
   level_0  index                                               cast  \
0       24      0  [{'name': 'Cameron Diaz', 'id': 6941, 'cast_id...

                                                crew      id  status_code  \
0  [{'name': 'McG', 'department': 'Directing', 'i...  4327.0          NaN

  status_message
0            NaN
64 of 156
0    [{'name': 'Cameron Diaz', 'id': 6941, 'cast_id...
Name: cast, dtype: object
movie_id: 19457
   level_0  index                                               cast  \
0       25      0  [{'name': 'Mark Wahlberg', 'id': 13240, 'cast_...

                                                crew       id  status_code  \
0  [{'name': 'Howard Shore', 'department': 'Sound...  19457.0          NaN

  status_message
0            NaN
65 of 156
0    [{'name': 'Mark Wahlberg', 'id': 13240, 'cast_...
Name: cast, dtype: object
movie_id: 2440
   level_0  index                                               cast  \
0       26      0  [{'name': 'Song Kang-ho', 'id': 20738, 'cast_i...

                                                crew      id  status_code  \
0  [{'name': 'Park Chan-wook', 'department': 'Dir...  2440.0          NaN

  status_message
0            NaN
66 of 156
0    [{'name': 'Song Kang-ho', 'id': 20738, 'cast_i...
Name: cast, dtype: object
movie_id: 8859
   level_0  index                                               cast  \
0       27      0  [{'name': 'Ashton Kutcher', 'id': 18976, 'cast...

                                                crew      id  status_code  \
0  [{'name': 'Ronnie Yeskel', 'department': 'Prod...  8859.0          NaN

  status_message
0            NaN
67 of 156
0    [{'name': 'Ashton Kutcher', 'id': 18976, 'cast...
Name: cast, dtype: object
movie_id: 10562
   level_0  index                                               cast  \
0       28      0  [{'name': 'Gene Hackman', 'id': 193, 'cast_id'...

                                                crew       id  status_code  \
0  [{'name': 'Stephen Hopkins', 'department': 'Di...  10562.0          NaN

  status_message
0            NaN
68 of 156
0    [{'name': 'Gene Hackman', 'id': 193, 'cast_id'...
Name: cast, dtype: object
movie_id: 2123
   level_0  index                                               cast  \
0       29      0  [{'name': 'Jim Carrey', 'id': 206, 'cast_id': ...

                                                crew      id  status_code  \
0  [{'name': 'Peter Farrelly', 'department': 'Dir...  2123.0          NaN

  status_message
0            NaN
69 of 156
0    [{'name': 'Jim Carrey', 'id': 206, 'cast_id': ...
Name: cast, dtype: object
movie_id: 3176
   level_0  index                                               cast  \
0       30      0  [{'name': 'Takeshi Kitano', 'id': 3317, 'cast_...

                                                crew      id  status_code  \
0  [{'name': 'Koushun Takami', 'department': 'Wri...  3176.0          NaN

  status_message
0            NaN
70 of 156
0    [{'name': 'Takeshi Kitano', 'id': 3317, 'cast_...
Name: cast, dtype: object
movie_id: 1493
   level_0  index                                               cast  \
0       31      0  [{'name': 'Sandra Bullock', 'id': 18277, 'cast...

                                                crew      id  status_code  \
0  [{'name': 'Donald Petrie', 'department': 'Dire...  1493.0          NaN

  status_message
0            NaN
71 of 156
0    [{'name': 'Sandra Bullock', 'id': 18277, 'cast...
Name: cast, dtype: object
movie_id: 10501
   level_0  index                                               cast  \
0       32      0  [{'name': 'Kenneth Branagh', 'id': 11181, 'cas...

                                                crew       id  status_code  \
0  [{'name': 'Ted Elliott', 'department': 'Writin...  10501.0          NaN

  status_message
0            NaN
72 of 156
0    [{'name': 'Kenneth Branagh', 'id': 11181, 'cas...
Name: cast, dtype: object
movie_id: 10867
   level_0  index                                               cast  \
0       33      0  [{'name': 'Monica Bellucci', 'id': 28782, 'cas...

                                                crew       id  status_code  \
0  [{'name': 'Ennio Morricone', 'department': 'So...  10867.0          NaN

  status_message
0            NaN
73 of 156
0    [{'name': 'Monica Bellucci', 'id': 28782, 'cas...
Name: cast, dtype: object
movie_id: 8843
   level_0  index                                               cast  \
0       34      0  [{'name': 'Jennifer Lopez', 'id': 16866, 'cast...

                                                crew      id  status_code  \
0  [{'name': 'Ronna Kress', 'department': 'Produc...  8843.0          NaN

  status_message
0            NaN
74 of 156
0    [{'name': 'Jennifer Lopez', 'id': 16866, 'cast...
Name: cast, dtype: object
movie_id: 30970
   level_0  index                                               cast  \
0       35      0  [{'name': 'Juliette Binoche', 'id': 1137, 'cas...

                                                crew       id  status_code  \
0  [{'name': 'Marin Karmitz', 'department': 'Prod...  30970.0          NaN

  status_message
0            NaN
75 of 156
0    [{'name': 'Juliette Binoche', 'id': 1137, 'cas...
Name: cast, dtype: object
movie_id: 9383
   level_0  index                                               cast  \
0       36      0  [{'name': 'Kevin Bacon', 'id': 4724, 'cast_id'...

                                                crew      id  status_code  \
0  [{'name': 'John M. Dwyer', 'department': 'Art'...  9383.0          NaN

  status_message
0            NaN
76 of 156
0    [{'name': 'Kevin Bacon', 'id': 4724, 'cast_id'...
Name: cast, dtype: object
movie_id: 843
   level_0  index                                               cast  \
0       37      0  [{'name': 'Tony Leung Chiu-Wai', 'id': 1337, '...

                                                crew     id  status_code  \
0  [{'name': 'Christopher Doyle', 'department': '...  843.0          NaN

  status_message
0            NaN
77 of 156
0    [{'name': 'Tony Leung Chiu-Wai', 'id': 1337, '...
Name: cast, dtype: object
movie_id: 10873
   level_0  index                                               cast  \
0       38      0  [{'name': 'John Malkovich', 'id': 6949, 'cast_...

                                                crew       id  status_code  \
0  [{'name': 'E. Elias Merhige', 'department': 'D...  10873.0          NaN

  status_message
0            NaN
78 of 156
0    [{'name': 'John Malkovich', 'id': 6949, 'cast_...
Name: cast, dtype: object
movie_id: 9741
   level_0  index                                               cast  \
0       39      0  [{'name': 'Bruce Willis', 'id': 62, 'cast_id':...

                                                crew      id  status_code  \
0  [{'name': 'M. Night Shyamalan', 'department': ...  9741.0          NaN

  status_message
0            NaN
79 of 156
0    [{'name': 'Bruce Willis', 'id': 62, 'cast_id':...
Name: cast, dtype: object
movie_id: 876
Empty DataFrame
Columns: [level_0, index, cast, crew, id, status_code, status_message]
Index: []
80 of 156
Series([], Name: cast, dtype: object)

IndexError: index out of bounds

In [63]:
ids_num[80]

10384

In [65]:
movie_credits_df.iloc[80]

cast              [{'id': 112, 'cast_id': 1, 'gender': 1, 'credi...
crew              [{'id': 7623, 'profile_path': '/uEAaCUJzyMI8N5...
id                                                             2046
status_code                                                     NaN
status_message                                                  NaN
Name: 0, dtype: object

In [64]:
movie_credits_df[movie_credits_df['id']==10384]

,cast,crew,id,status_code,status_message
0,"[{'id': 13548, 'cast_id': 6, 'gender': 2, 'cre...","[{'id': 1723, 'profile_path': '/gCU3dgnNaZuvmA...",10384.0,NaN,NaN

In [74]:
movie_credits_df.head(82)

,index,cast,crew,id,status_code,status_message
0,0,"[{'id': 529, 'movie_id': 77, 'cast_id': 4, 'ge...","[{'id': 525, 'profile_path': '/7OGmfDF4VHLLgbj...",77.0,NaN,NaN
1,0,"[{'id': 934, 'movie_id': 98, 'cast_id': 8, 'ge...","[{'id': 578, 'profile_path': '/oTAL0z0vsjipCru...",98.0,NaN,NaN
2,0,"[{'id': 3894, 'movie_id': 1359, 'cast_id': 3, ...","[{'id': 16378, 'profile_path': '/qlWi0kufzB7lC...",1359.0,NaN,NaN
3,0,"[{'id': 31, 'movie_id': 8358, 'cast_id': 3, 'g...","[{'id': 24, 'profile_path': '/isCuZ9PWIOyXzdf3...",8358.0,NaN,NaN
4,0,"[{'id': 2461, 'movie_id': 7443, 'cast_id': 3, ...","[{'id': 2359, 'profile_path': None, 'job': 'Ex...",7443.0,NaN,NaN
5,0,"[{'id': 500, 'movie_id': 955, 'cast_id': 31, '...","[{'id': 122, 'profile_path': '/j4BGxQq5klTT7hi...",955.0,NaN,NaN
6,0,"[{'id': 1121, 'movie_id': 107, 'cast_id': 19, ...","[{'id': 29, 'profile_path': None, 'job': 'Exec...",107.0,NaN,NaN
7,0,"[{'id': 1461, 'movie_id': 2133, 'cast_id': 16,...","[{'id': 5231, 'profile_path': '/t3Fxy4SBeOWj8T...",2133.0,NaN,NaN
8,0,"[{'id': 15555, 'movie_id': 6282, 'cast_id': 1,...","[{'id': 770, 'profile_path': '/p2rd1kgq7GiCx2n...",6282.0,NaN,NaN
9,0,"[{'id': 8600, 'movie_id': 40096, 'cast_id': 1,...","[{'id': 102560, 'profile_path': '/tAjR4ocM6Vjj...",40096.0,NaN,NaN
10,0,"[{'id': 1619, 'movie_id': 146, 'cast_id': 25, ...","[{'id': 1360, 'profile_path': '/73tjDKqG8qsKyG...",146.0,NaN,NaN
11,0,"[{'id': 60950, 'movie_id': 11688, 'cast_id': 1...","[{'id': 61411, 'profile_path': '/8wetJbZVXQrdf...",11688.0,NaN,NaN
12,0,"[{'id': 2461, 'movie_id': 2024, 'cast_id': 12,...","[{'id': 1594907, 'profile_path': None, 'job': ...",2024.0,NaN,NaN
13,0,"[{'id': 880, 'movie_id': 10862, 'cast_id': 1, ...","[{'id': 57579, 'profile_path': '/xPnPpnylece1h...",10862.0,NaN,NaN
14,0,"[{'id': 6384, 'movie_id': 10393, 'cast_id': 3,...","[{'id': 4500, 'profile_path': '/hTrlvZlDXQk49n...",10393.0,NaN,NaN
15,0,"[{'id': 50398, 'movie_id': 9532, 'cast_id': 1,...","[{'id': 57134, 'profile_path': '/4TIHQFKSdS8WD...",9532.0,NaN,NaN
16,0,"[{'id': 478, 'movie_id': 71, 'cast_id': 16, 'g...","[{'id': 462, 'profile_path': None, 'job': 'Pro...",71.0,NaN,NaN
17,0,"[{'id': 6193, 'movie_id': 1907, 'cast_id': 2, ...","[{'id': 8384, 'profile_path': None, 'job': 'Se...",1907.0,NaN,NaN
18,0,"[{'id': 12898, 'movie_id': 16187, 'cast_id': 6...","[{'id': 56852, 'profile_path': None, 'job': 'D...",16187.0,NaN,NaN
19,0,"[{'id': 28639, 'movie_id': 4247, 'cast_id': 23...","[{'id': 35689, 'profile_path': '/4uCVzk6JrNflr...",4247.0,NaN,NaN
20,0,"[{'id': 62, 'movie_id': 4244, 'cast_id': 1, 'g...","[{'id': 12962, 'profile_path': '/borF48XTUkOCK...",4244.0,NaN,NaN
21,0,"[{'id': 2963, 'movie_id': 9679, 'cast_id': 1, ...","[{'id': 58498, 'profile_path': '/ofWADCsDpNxbT...",9679.0,NaN,NaN
22,0,"[{'id': 35769, 'movie_id': 10473, 'cast_id': 1...","[{'id': 58656, 'profile_path': None, 'job': 'D...",10473.0,NaN,NaN
23,0,"[{'id': 64, 'movie_id': 6521, 'cast_id': 1, 'g...","[{'id': 2121, 'profile_path': None, 'job': 'Ca...",6521.0,NaN,NaN
24,0,"[{'id': 6941, 'movie_id': 4327, 'cast_id': 1, ...","[{'id': 36425, 'profile_path': '/hT0I4rLSOhIQo...",4327.0,NaN,NaN
25,0,"[{'id': 13240, 'movie_id': 19457, 'cast_id': 1...","[{'id': 117, 'profile_path': '/4HbFF5o13GkO0rH...",19457.0,NaN,NaN
26,0,"[{'id': 20738, 'movie_id': 2440, 'cast_id': 15...","[{'id': 10099, 'profile_path': '/oITKgh5vsTZvW...",2440.0,NaN,NaN
27,0,"[{'id': 18976, 'movie_id': 8859, 'cast_id': 1,...","[{'id': 56591, 'profile_path': '/baaonHW8JdQXy...",8859.0,NaN,NaN
28,0,"[{'id': 193, 'movie_id': 10562, 'cast_id': 1, ...","[{'id': 2042, 'profile_path': '/9htj3BqGWBJGEd...",10562.0,NaN,NaN
29,0,"[{'id': 206, 'movie_id': 2123, 'cast_id': 14, ...","[{'id': 7396, 'profile_path': '/gJcM7v6tTOKXfi...",2123.0,NaN,NaN
...,...,...,...,...,...,...
52,0,"[{'id': 33654, 'cast_id': 13, 'gender': 2, 'cr...","[{'id': 7068, 'profile_path': None, 'job': 'Ed...",9285.0,NaN,NaN
53,0,"[{'id': 3, 'cast_id': 2, 'gender': 2, 'credit_...","[{'id': 37, 'profile_path': '/chEsfnDEtRmv1bfO...",2655.0,NaN,NaN
54,0,"[{'id': 10814, 'cast_id': 9, 'gender': 2, 'cre...","[{'id': 25735, 'profile_path': '/dz0da6lHPAzAF...",11398.0,NaN,NaN
55,0,"[{'id': 1979, 'cast_id': 1, 'gender': 2, 'cred...","[{'id': 72467, 'profile_path': None, 'job': 'D...",12490.0,NaN,NaN
56,0,"[{'id': 8783, 'cast_id': 1, 'gender': 2, 'cred...","[{'id': 37618, 'profile_path': '/r80gQB1iYTMSj...",9519.0,NaN,NaN
57,0,"[{'id': 1204, 'cast_id': 25, 'gender': 1, 'cre...","[{'id': 1884, 'profile_path': '/dxdMRsAosaGlMR...",462.0,NaN,NaN
58,0,"[{'id': 1892, 'cast_id': 28, 'gender': 2, 'cre...","[{'id': 495, 'profile_path': None, 'job': 'Cas...",4958.0,NaN,NaN
59,0,"[{'id': 880, 'cast_id': 1, 'gender': 2, 'credi...","[{'id': 12090, 'profile_path': None, 'job': 'C...",16366.0,NaN,NaN
60,0,"[{'id': 3036, 'cast_id': 7, 'gender': 2, 'cred...","[{'id': 3224, 'profile_path': '/8IewTBLTPujw1t...",243.0,NaN,NaN
61,0,"[{'id': 18897, 'cast_id': 4, 'gender': 2, 'cre...","[{'id': 4504, 'profile_path': None, 'job': 'Pr...",8584.0,NaN,NaN
62,0,"[{'id': 190, 'cast_id': 11, 'gender': 2, 'cred...","[{'id': 190, 'profile_path': '/wJosJW9DNWHOA8h...",5551.0,NaN,NaN
63,0,"[{'id': 13548, 'cast_id': 6, 'gender': 2, 'cre...","[{'id': 1723, 'profile_path': '/gCU3dgnNaZuvmA...",10384.0,NaN,NaN
64,0,"[{'id': 3905, 'cast_id': 1, 'gender': 2, 'cred...","[{'id': 29525, 'profile_path': None, 'job': 'P...",20637.0,NaN,NaN
65,0,"[{'id': 77196, 'cast_id': 1, 'gender': 2, 'cre...","[{'id': 5281, 'profile_path': '/zTsaE7GrLnOV62...",14736.0,NaN,NaN
66,0,"[{'id': 143036, 'cast_id': 2, 'gender': 2, 'cr...","[{'id': 143035, 'profile_path': '/ziiIOHdtINX3...",25538.0,NaN,NaN
67,0,"[{'id': 15234, 'cast_id': 15, 'gender': 2, 'cr...","[{'id': 1392233, 'profile_path': None, 'job': ...",4234.0,NaN,NaN
68,0,"[{'id': 78029, 'cast_id': 14, 'gender': 2, 'cr...","[{'id': 1215, 'profile_path': '/jbcOXhl4QGaYcv...",9600.0,NaN,NaN
69,0,"[{'id': 2231, 'cast_id': 6, 'gender': 2, 'cred...","[{'id': 6482, 'profile_path': '/xmVaXjAAywPh7H...",479.0,NaN,NaN
70,0,"[{'id': 1100, 'cast_id': 1, 'gender': 2, 'cred...","[{'id': 1724, 'profile_path': '/hH8tIBh0RI7VwI...",8452.0,NaN,NaN
71,0,"[{'id': 62, 'cast_id': 10, 'gender': 2, 'credi...","[{'id': 1486763, 'profile_path': '/i9jLwuwVgAN...",2069.0,NaN,NaN
72,0,"[{'id': 7132, 'cast_id': 1, 'gender': 2, 'cred...","[{'id': 37948, 'profile_path': '/qjEl3MLqL4MDZ...",22230.0,NaN,NaN
73,0,"[{'id': 13918, 'cast_id': 5, 'gender': 1, 'cre...","[{'id': 1524, 'profile_path': '/dFERLL9HGBw9xG...",1636.0,NaN,NaN
74,0,"[{'id': 380, 'cast_id': 11, 'gender': 2, 'cred...","[{'id': 4140, 'profile_path': '/juP82LbS9chU3V...",11978.0,NaN,NaN
75,0,"[{'id': 1205, 'cast_id': 1, 'gender': 2, 'cred...","[{'id': 6720, 'profile_path': '/ekWS5bAB0kv4RC...",10641.0,NaN,NaN
76,0,"[{'id': 515, 'cast_id': 1, 'gender': 1, 'credi...","[{'id': 15775, 'profile_path': '/725jzhxXkAPIq...",10481.0,NaN,NaN
77,0,"[{'id': 880, 'cast_id': 17, 'gender': 2, 'cred...","[{'id': 37, 'profile_path': '/chEsfnDEtRmv1bfO...",2155.0,NaN,NaN
78,0,"[{'id': 3636, 'cast_id': 3, 'gender': 2, 'cred...","[{'id': 78523, 'profile_path': None, 'job': 'D...",31776.0,NaN,NaN
79,0,"[{'id': 1003, 'cast_id': 2, 'gender': 2, 'cred...","[{'id': 2406, 'profile_path': '/h0LpOBDRawf5pS...",60670.0,NaN,NaN
80,0,"[{'id': 112, 'cast_id': 1, 'gender': 1, 'credi...","[{'id': 7623, 'profile_path': '/uEAaCUJzyMI8N5...",2046.0,NaN,NaN
81,0,"[{'id': 776, 'cast_id': 15, 'gender': 2, 'cred...","[{'id': 13426, 'profile_path': '/4wl3AZ16vUhFu...",12107.0,NaN,NaN