In [3]:
import http.client
import json
#from settings import API_KEY
import time
from pandas.io.json import json_normalize
import pandas as pd
import  csv
import ast
API_KEY = 'd91501d816e13b84b665bce29f571e7a'

## Funções

In [4]:
def get_url_credits(movie_id, api_key):
    return("/3/movie/" + str(movie_id) + "/credits" + "?api_key=" + str(api_key))

def get_json(conn, url):
	payload = "{}"
	conn.request("GET", url, payload)
	res = conn.getresponse()
	data = res.read()
	return(json.loads(data.decode("    utf-8")))

In [21]:
def get_movie_credits(ids):
    
	conn = http.client.HTTPSConnection("api.themoviedb.org")    
	movie_credits_df = pd.DataFrame()
    
	for movie_id in ids:
		url = get_url_credits(movie_id, API_KEY)
		movie_data = get_json(conn, url)
        
        #mudei!
		if ('status_code' in movie_data):
			time.sleep(10)  
			movie_data = get_json(conn, url)
			credits_data = get_json(conn, url)   
		else:
			credits_data = get_json(conn, url)
        
		df = json_normalize(credits_data)
		movie_credits_df = movie_credits_df.append(df)

	return movie_credits_df

In [8]:
def get_cast(ids, movie_credits_df):

    movie_cast_df = pd.DataFrame()

    for idx,movie_id in enumerate(ids,40):

        movie_item = pd.DataFrame()
        movie_item = movie_credits_df[movie_credits_df['id']==movie_id].reset_index()
        print("%s of %s" % (idx,len(ids)))

        print(movie_item['cast'])
        
        for cast_id in movie_item['cast'][0]:
            cast_id.update({'movie_id': int(movie_id)})
            cast_id.pop('profile_path', None)
            movie_cast_df = movie_cast_df.append(cast_id, ignore_index=True)
    
    return movie_cast_df

## Testes

In [9]:
with open('out_sample.csv', 'r') as f:
#with open('out_all.csv', 'r') as f:    
    reader = csv.reader(f, skipinitialspace=True, delimiter=',')
    ids_list = list(reader)
    
ids = [item for sublist in ids_list for item in sublist]

In [10]:
len(ids)

156

In [11]:
# Transformando ids em numérico
ids_num = list(map(int, ids))

In [33]:
movie_credits_df = get_movie_credits(ids_num)

In [34]:
movie_credits_df.shape

(156, 3)

In [35]:
movie_credits_df = movie_credits_df.drop_duplicates('id', keep='first')

In [36]:
movie_credits_df['id'].isnull().sum()

0

In [37]:
movie_credits_df[movie_credits_df['id'].isnull()]

Empty DataFrame
Columns: [cast, crew, id]
Index: []

In [57]:
movie_credits_df = movie_credits_df[movie_credits_df['status_code'] != 25]

In [38]:
movie_credits_df['id'].isnull().sum()

0

In [39]:
movie_credits_df = movie_credits_df.reset_index()

In [41]:
from IPython.display import display
pd.options.display.max_rows = None
movie_credits_df.head(90)

,index,cast,crew,id
0,0,"[{'name': 'Guy Pearce', 'id': 529, 'cast_id': ...","[{'name': 'Christopher Nolan', 'department': '...",77
1,0,"[{'name': 'Russell Crowe', 'id': 934, 'cast_id...","[{'name': 'Hans Zimmer', 'department': 'Sound'...",98
2,0,"[{'name': 'Christian Bale', 'id': 3894, 'cast_...","[{'name': 'Suzanne Smith', 'department': 'Prod...",1359
3,0,"[{'name': 'Tom Hanks', 'id': 31, 'cast_id': 3,...","[{'name': 'Alan Silvestri', 'department': 'Sou...",8358
4,0,"[{'name': 'Mel Gibson', 'id': 2461, 'cast_id':...","[{'name': 'Jake Eberts', 'department': 'Produc...",7443
5,0,"[{'name': 'Tom Cruise', 'id': 500, 'cast_id': ...","[{'name': 'Klaus Badelt', 'department': 'Crew'...",955
6,0,"[{'name': 'Benicio del Toro', 'id': 1121, 'cas...","[{'name': 'Guy Ritchie', 'department': 'Direct...",107
7,0,"[{'name': 'George Clooney', 'id': 1461, 'cast_...","[{'name': 'Wolfgang Petersen', 'department': '...",2133
8,0,"[{'name': 'Piper Perabo', 'id': 15555, 'cast_i...","[{'name': 'Jerry Bruckheimer', 'department': '...",6282
9,0,"[{'name': 'Matheus Nachtergaele', 'id': 8600, ...","[{'name': 'Guel Arraes', 'department': 'Direct...",40096
10,0,"[{'name': 'Chow Yun-fat', 'id': 1619, 'cast_id...","[{'name': 'Ang Lee', 'department': 'Directing'...",146
11,0,"[{'name': 'David Spade', 'id': 60950, 'cast_id...","[{'name': 'David Reynolds', 'department': 'Wri...",11688
12,0,"[{'name': 'Mel Gibson', 'id': 2461, 'cast_id':...","[{'name': 'Roland Emmerich', 'department': 'Di...",2024
13,0,"[{'name': 'Ben Affleck', 'id': 880, 'cast_id':...","[{'name': 'Don Roos', 'department': 'Directing...",10862
14,0,"[{'name': 'Keanu Reeves', 'id': 6384, 'cast_id...","[{'name': 'John Debney', 'department': 'Sound'...",10393
15,0,"[{'name': 'Devon Sawa', 'id': 50398, 'cast_id'...","[{'name': 'James Wong', 'department': 'Directi...",9532
16,0,"[{'name': 'Jamie Bell', 'id': 478, 'cast_id': ...","[{'name': 'Greg Brenman', 'department': 'Produ...",71
17,0,"[{'name': 'Leonardo DiCaprio', 'id': 6193, 'ca...","[{'name': 'Danny Boyle', 'department': 'Direct...",1907
18,0,"[{'name': 'Tim Allen', 'id': 12898, 'cast_id':...","[{'name': 'Tad Stones', 'department': 'Directi...",16187
19,0,"[{'name': 'Carmen Electra', 'id': 28639, 'cast...","[{'name': 'Mark Helfrich', 'department': 'Edit...",4247
20,0,"[{'name': 'Bruce Willis', 'id': 62, 'cast_id':...","[{'name': 'Stephen J. Eads', 'department': 'Pr...",4244
21,0,"[{'name': 'Nicolas Cage', 'id': 2963, 'cast_id...","[{'name': 'Jerry Bruckheimer', 'department': '...",9679
22,0,"[{'name': 'Christopher Masterson', 'id': 35769...","[{'name': 'Doug Lefler', 'department': 'Direct...",10473
23,0,"[{'name': 'Gary Oldman', 'id': 64, 'cast_id': ...","[{'name': 'Rod Lurie', 'department': 'Directin...",6521
24,0,"[{'name': 'Cameron Diaz', 'id': 6941, 'cast_id...","[{'name': 'McG', 'department': 'Directing', 'i...",4327
25,0,"[{'name': 'Mark Wahlberg', 'id': 13240, 'cast_...","[{'name': 'Howard Shore', 'department': 'Sound...",19457
26,0,"[{'name': 'Song Kang-ho', 'id': 20738, 'cast_i...","[{'name': 'Park Chan-wook', 'department': 'Dir...",2440
27,0,"[{'name': 'Ashton Kutcher', 'id': 18976, 'cast...","[{'name': 'Ronnie Yeskel', 'department': 'Prod...",8859
28,0,"[{'name': 'Gene Hackman', 'id': 193, 'cast_id'...","[{'name': 'Stephen Hopkins', 'department': 'Di...",10562
29,0,"[{'name': 'Jim Carrey', 'id': 206, 'cast_id': ...","[{'name': 'Peter Farrelly', 'department': 'Dir...",2123
30,0,"[{'name': 'Takeshi Kitano', 'id': 3317, 'cast_...","[{'name': 'Koushun Takami', 'department': 'Wri...",3176
31,0,"[{'name': 'Sandra Bullock', 'id': 18277, 'cast...","[{'name': 'Donald Petrie', 'department': 'Dire...",1493
32,0,"[{'name': 'Kenneth Branagh', 'id': 11181, 'cas...","[{'name': 'Ted Elliott', 'department': 'Writin...",10501
33,0,"[{'name': 'Monica Bellucci', 'id': 28782, 'cas...","[{'name': 'Ennio Morricone', 'department': 'So...",10867
34,0,"[{'name': 'Jennifer Lopez', 'id': 16866, 'cast...","[{'name': 'Ronna Kress', 'department': 'Produc...",8843
35,0,"[{'name': 'Juliette Binoche', 'id': 1137, 'cas...","[{'name': 'Marin Karmitz', 'department': 'Prod...",30970
36,0,"[{'name': 'Kevin Bacon', 'id': 4724, 'cast_id'...","[{'name': 'John M. Dwyer', 'department': 'Art'...",9383
37,0,"[{'name': 'Tony Leung Chiu-Wai', 'id': 1337, '...","[{'name': 'Christopher Doyle', 'department': '...",843
38,0,"[{'name': 'John Malkovich', 'id': 6949, 'cast_...","[{'name': 'E. Elias Merhige', 'department': 'D...",10873
39,0,"[{'name': 'Bruce Willis', 'id': 62, 'cast_id':...","[{'name': 'M. Night Shyamalan', 'department': ...",9741
40,0,"[{'name': 'William Hurt', 'id': 227, 'cast_id'...","[{'name': 'Vittorio Storaro', 'department': 'C...",876
41,0,"[{'name': 'Ethan Hawke', 'id': 569, 'cast_id':...","[{'name': 'Michael Almereyda', 'department': '...",10688
42,0,"[{'name': 'Jim Carrey', 'id': 206, 'cast_id': ...","[{'name': 'Brian Grazer', 'department': 'Produ...",8871
43,0,"[{'name': 'Karen Lancaume', 'id': 146242, 'cas...","[{'name': 'Virginie Despentes', 'department': ...",3134
44,0,"[{'name': 'Ice Cube', 'id': 9778, 'cast_id': 1...","[{'name': 'Steve Carr', 'department': 'Directi...",10471
45,0,"[{'name': 'Meg Ryan', 'id': 5344, 'cast_id': 9...","[{'name': 'Danny Elfman', 'department': 'Sound...",11983
46,0,"[{'name': 'Famke Janssen', 'id': 10696, 'cast_...","[{'name': 'Valerie Breiman', 'department': 'Wr...",25128
47,0,"[{'name': 'Sean Connery', 'id': 738, 'cast_id'...","[{'name': 'Sean Connery', 'department': 'Produ...",711
48,0,"[{'name': 'Kevin Spacey', 'id': 1979, 'cast_id...","[{'name': 'Mimi Leder', 'department': 'Directi...",10647
49,0,"[{'name': 'Ralph Eggleston', 'id': 7883, 'cast...","[{'name': 'Ralph Eggleston', 'department': 'Pr...",13930
50,0,"[{'name': 'Jennifer Morrison', 'id': 41421, 'c...","[{'name': 'Paul Harris Boardman', 'department'...",12212
51,0,"[{'name': 'Alan Rickman', 'id': 4566, 'cast_id...","[{'name': 'Stefan Fjeldmark', 'department': 'D...",12609
52,0,"[{'name': 'Christopher Lambert', 'id': 38559, ...","[{'name': 'Bob Weinstein', 'department': 'Prod...",12211
53,0,"[{'name': 'Gael García Bernal', 'id': 258, 'ca...","[{'name': 'Alejandro González Iñárritu', 'depa...",55
54,0,"[{'name': 'Ben Stiller', 'id': 7399, 'cast_id'...","[{'name': 'Robert De Niro', 'department': 'Pro...",1597
55,0,"[{'name': 'Jet Li', 'id': 1336, 'cast_id': 8, ...","[{'name': 'Andrzej Bartkowiak', 'department': ...",2085
56,0,"[{'name': 'Richard Gere', 'id': 1205, 'cast_id...","[{'name': 'Geraldine Peroni', 'department': 'E...",10763
57,0,"[{'name': 'Sandra Bullock', 'id': 18277, 'cast...","[{'name': 'Eric Blakeney', 'department': 'Dire...",29076
58,0,"[{'name': 'Amanda Schull', 'id': 65871, 'cast_...","[{'name': 'Tariq Anwar', 'department': 'Editin...",10560
59,0,"[{'name': 'Michael Douglas', 'id': 3392, 'cast...","[{'name': 'Steven Soderbergh', 'department': '...",1900
60,0,"[{'name': 'George Clooney', 'id': 1461, 'cast_...","[{'name': 'Joel Coen', 'department': 'Directin...",134
61,0,"[{'name': 'Matthew McConaughey', 'id': 10297, ...","[{'name': 'Jonathan Mostow', 'department': 'Di...",3536
62,0,"[{'name': 'Bill Farmer', 'id': 84213, 'cast_id...","[{'name': 'Douglas McCarthy', 'department': 'D...",15653
63,0,"[{'name': 'Joshua Jackson', 'id': 11866, 'cast...","[{'name': 'Neal H. Moritz', 'department': 'Pro...",11478
64,0,"[{'name': 'D. B. Sweeney', 'id': 61962, 'cast_...","[{'name': 'James Newton Howard', 'department':...",10567
65,0,"[{'name': 'Björk', 'id': 47, 'cast_id': 33, 'o...","[{'name': 'Lars von Trier', 'department': 'Dir...",16
66,0,"[{'name': 'Freddie Prinze Jr.', 'id': 33260, '...","[{'name': 'Bob Weinstein', 'department': 'Prod...",10571
67,0,"[{'name': 'Ray Winstone', 'id': 5538, 'cast_id...","[{'name': 'Jeremy Thomas', 'department': 'Prod...",11826
68,0,"[{'name': 'Helen Hunt', 'id': 9994, 'cast_id':...","[{'name': 'Alan Silvestri', 'department': 'Sou...",3981
69,0,"[{'name': 'Breckin Meyer', 'id': 33654, 'cast_...","[{'name': 'Todd Phillips', 'department': 'Dire...",9285
70,0,"[{'name': 'Harrison Ford', 'id': 3, 'cast_id':...","[{'name': 'Alan Silvestri', 'department': 'Sou...",2655
71,0,"[{'name': 'Wesley Snipes', 'id': 10814, 'cast_...","[{'name': 'Christian Duguay', 'department': 'D...",11398
72,0,"[{'name': 'Kevin Spacey', 'id': 1979, 'cast_id...","[{'name': 'William M. Anderson', 'department':...",12490
73,0,"[{'name': 'Eric Bana', 'id': 8783, 'cast_id': ...","[{'name': 'Andrew Dominik', 'department': 'Wri...",9519
74,0,"[{'name': 'Julia Roberts', 'id': 1204, 'cast_i...","[{'name': 'Steven Soderbergh', 'department': '...",462
75,0,"[{'name': 'Matt Damon', 'id': 1892, 'cast_id':...","[{'name': 'Robert Redford', 'department': 'Pro...",4958
76,0,"[{'name': 'Ben Affleck', 'id': 880, 'cast_id':...","[{'name': 'Leslee Feldman', 'department': 'Pro...",16366
77,0,"[{'name': 'John Cusack', 'id': 3036, 'cast_id'...","[{'name': 'Stephen Frears', 'department': 'Dir...",243
78,0,"[{'name': 'Jackie Chan', 'id': 18897, 'cast_id...","[{'name': 'Roger Birnbaum', 'department': 'Pro...",8584
79,0,"[{'name': 'Clint Eastwood', 'id': 190, 'cast_i...","[{'name': 'Clint Eastwood', 'department': 'Dir...",5551
80,0,"[{'name': 'James Spader', 'id': 13548, 'cast_i...","[{'name': 'Walter Hill', 'department': 'Direct...",10384
81,0,"[{'name': 'William H. Macy', 'id': 3905, 'cast...","[{'name': 'Andrew Lazar', 'department': 'Produ...",20637
82,0,"[{'name': 'Chris Warren, Jr.', 'id': 77196, 'c...","[{'name': 'Dena Roth', 'department': 'Art', 'i...",14736
83,0,"[{'name': 'Wu Nien-Jen', 'id': 143036, 'cast_i...","[{'name': 'Edward Yang', 'department': 'Direct...",25538
84,0,"[{'name': 'David Arquette', 'id': 15234, 'cast...","[{'name': 'Cathy Konrad', 'department': 'Produ...",4234
85,0,"[{'name': 'Martin Lawrence', 'id': 78029, 'cas...","[{'name': 'Raja Gosnell', 'department': 'Direc...",9600
86,0,"[{'name': 'Samuel L. Jackson', 'id': 2231, 'ca...","[{'name': 'Richard Price', 'department': 'Writ...",479
87,0,"[{'name': 'Arnold Schwarzenegger', 'id': 1100,...","[{'name': 'Trevor Rabin', 'department': 'Sound...",8452
88,0,"[{'name': 'Bruce Willis', 'id': 62, 'cast_id':...","[{'name': 'Jonathan Lynn', 'department': 'Dire...",2069
89,0,"[{'name': 'Vincent D'Onofrio', 'id': 7132, 'ca...","[{'name': 'Brad Anderson', 'department': 'Dire...",22230

In [42]:
movie_cast_df = get_cast(ids_num, movie_credits_df)

40 of 156
0    [{'name': 'Guy Pearce', 'id': 529, 'cast_id': ...
Name: cast, dtype: object
41 of 156
0    [{'name': 'Russell Crowe', 'id': 934, 'cast_id...
Name: cast, dtype: object
42 of 156
0    [{'name': 'Christian Bale', 'id': 3894, 'cast_...
Name: cast, dtype: object
43 of 156
0    [{'name': 'Tom Hanks', 'id': 31, 'cast_id': 3,...
Name: cast, dtype: object
44 of 156
0    [{'name': 'Mel Gibson', 'id': 2461, 'cast_id':...
Name: cast, dtype: object
45 of 156
0    [{'name': 'Tom Cruise', 'id': 500, 'cast_id': ...
Name: cast, dtype: object
46 of 156
0    [{'name': 'Benicio del Toro', 'id': 1121, 'cas...
Name: cast, dtype: object
47 of 156
0    [{'name': 'George Clooney', 'id': 1461, 'cast_...
Name: cast, dtype: object
48 of 156
0    [{'name': 'Piper Perabo', 'id': 15555, 'cast_i...
Name: cast, dtype: object
49 of 156
0    [{'name': 'Matheus Nachtergaele', 'id': 8600, ...
Name: cast, dtype: object
50 of 156
0    [{'name': 'Chow Yun-fat', 'id': 1619, 'cast_id...
Name: cast, dtype: object
51 of 156
0    [{'name': 'David Spade', 'id': 60950, 'cast_id...
Name: cast, dtype: object
52 of 156
0    [{'name': 'Mel Gibson', 'id': 2461, 'cast_id':...
Name: cast, dtype: object
53 of 156
0    [{'name': 'Ben Affleck', 'id': 880, 'cast_id':...
Name: cast, dtype: object
54 of 156
0    [{'name': 'Keanu Reeves', 'id': 6384, 'cast_id...
Name: cast, dtype: object
55 of 156
0    [{'name': 'Devon Sawa', 'id': 50398, 'cast_id'...
Name: cast, dtype: object
56 of 156
0    [{'name': 'Jamie Bell', 'id': 478, 'cast_id': ...
Name: cast, dtype: object
57 of 156
0    [{'name': 'Leonardo DiCaprio', 'id': 6193, 'ca...
Name: cast, dtype: object
58 of 156
0    [{'name': 'Tim Allen', 'id': 12898, 'cast_id':...
Name: cast, dtype: object
59 of 156
0    [{'name': 'Carmen Electra', 'id': 28639, 'cast...
Name: cast, dtype: object
60 of 156
0    [{'name': 'Bruce Willis', 'id': 62, 'cast_id':...
Name: cast, dtype: object
61 of 156
0    [{'name': 'Nicolas Cage', 'id': 2963, 'cast_id...
Name: cast, dtype: object
62 of 156
0    [{'name': 'Christopher Masterson', 'id': 35769...
Name: cast, dtype: object
63 of 156
0    [{'name': 'Gary Oldman', 'id': 64, 'cast_id': ...
Name: cast, dtype: object
64 of 156
0    [{'name': 'Cameron Diaz', 'id': 6941, 'cast_id...
Name: cast, dtype: object
65 of 156
0    [{'name': 'Mark Wahlberg', 'id': 13240, 'cast_...
Name: cast, dtype: object
66 of 156
0    [{'name': 'Song Kang-ho', 'id': 20738, 'cast_i...
Name: cast, dtype: object
67 of 156
0    [{'name': 'Ashton Kutcher', 'id': 18976, 'cast...
Name: cast, dtype: object
68 of 156
0    [{'name': 'Gene Hackman', 'id': 193, 'cast_id'...
Name: cast, dtype: object
69 of 156
0    [{'name': 'Jim Carrey', 'id': 206, 'cast_id': ...
Name: cast, dtype: object
70 of 156
0    [{'name': 'Takeshi Kitano', 'id': 3317, 'cast_...
Name: cast, dtype: object
71 of 156
0    [{'name': 'Sandra Bullock', 'id': 18277, 'cast...
Name: cast, dtype: object
72 of 156
0    [{'name': 'Kenneth Branagh', 'id': 11181, 'cas...
Name: cast, dtype: object
73 of 156
0    [{'name': 'Monica Bellucci', 'id': 28782, 'cas...
Name: cast, dtype: object
74 of 156
0    [{'name': 'Jennifer Lopez', 'id': 16866, 'cast...
Name: cast, dtype: object
75 of 156
0    [{'name': 'Juliette Binoche', 'id': 1137, 'cas...
Name: cast, dtype: object
76 of 156
0    [{'name': 'Kevin Bacon', 'id': 4724, 'cast_id'...
Name: cast, dtype: object
77 of 156
0    [{'name': 'Tony Leung Chiu-Wai', 'id': 1337, '...
Name: cast, dtype: object
78 of 156
0    [{'name': 'John Malkovich', 'id': 6949, 'cast_...
Name: cast, dtype: object
79 of 156
0    [{'name': 'Bruce Willis', 'id': 62, 'cast_id':...
Name: cast, dtype: object
80 of 156
0    [{'name': 'William Hurt', 'id': 227, 'cast_id'...
Name: cast, dtype: object
81 of 156
0    [{'name': 'Ethan Hawke', 'id': 569, 'cast_id':...
Name: cast, dtype: object
82 of 156
0    [{'name': 'Jim Carrey', 'id': 206, 'cast_id': ...
Name: cast, dtype: object
83 of 156
0    [{'name': 'Karen Lancaume', 'id': 146242, 'cas...
Name: cast, dtype: object
84 of 156
0    [{'name': 'Ice Cube', 'id': 9778, 'cast_id': 1...
Name: cast, dtype: object
85 of 156
0    [{'name': 'Meg Ryan', 'id': 5344, 'cast_id': 9...
Name: cast, dtype: object
86 of 156
0    [{'name': 'Famke Janssen', 'id': 10696, 'cast_...
Name: cast, dtype: object
87 of 156
0    [{'name': 'Sean Connery', 'id': 738, 'cast_id'...
Name: cast, dtype: object
88 of 156
0    [{'name': 'Kevin Spacey', 'id': 1979, 'cast_id...
Name: cast, dtype: object
89 of 156
0    [{'name': 'Ralph Eggleston', 'id': 7883, 'cast...
Name: cast, dtype: object
90 of 156
0    [{'name': 'Jennifer Morrison', 'id': 41421, 'c...
Name: cast, dtype: object
91 of 156
0    [{'name': 'Alan Rickman', 'id': 4566, 'cast_id...
Name: cast, dtype: object
92 of 156
0    [{'name': 'Christopher Lambert', 'id': 38559, ...
Name: cast, dtype: object
93 of 156
0    [{'name': 'Gael García Bernal', 'id': 258, 'ca...
Name: cast, dtype: object
94 of 156
0    [{'name': 'Ben Stiller', 'id': 7399, 'cast_id'...
Name: cast, dtype: object
95 of 156
0    [{'name': 'Jet Li', 'id': 1336, 'cast_id': 8, ...
Name: cast, dtype: object
96 of 156
0    [{'name': 'Richard Gere', 'id': 1205, 'cast_id...
Name: cast, dtype: object
97 of 156
0    [{'name': 'Sandra Bullock', 'id': 18277, 'cast...
Name: cast, dtype: object
98 of 156
0    [{'name': 'Amanda Schull', 'id': 65871, 'cast_...
Name: cast, dtype: object
99 of 156
0    [{'name': 'Michael Douglas', 'id': 3392, 'cast...
Name: cast, dtype: object
100 of 156
0    [{'name': 'George Clooney', 'id': 1461, 'cast_...
Name: cast, dtype: object
101 of 156
0    [{'name': 'Matthew McConaughey', 'id': 10297, ...
Name: cast, dtype: object
102 of 156
0    [{'name': 'Bill Farmer', 'id': 84213, 'cast_id...
Name: cast, dtype: object
103 of 156
0    [{'name': 'Joshua Jackson', 'id': 11866, 'cast...
Name: cast, dtype: object
104 of 156
0    [{'name': 'D. B. Sweeney', 'id': 61962, 'cast_...
Name: cast, dtype: object
105 of 156
0    [{'name': 'Björk', 'id': 47, 'cast_id': 33, 'o...
Name: cast, dtype: object
106 of 156
0    [{'name': 'Freddie Prinze Jr.', 'id': 33260, '...
Name: cast, dtype: object
107 of 156
0    [{'name': 'Ray Winstone', 'id': 5538, 'cast_id...
Name: cast, dtype: object
108 of 156
0    [{'name': 'Helen Hunt', 'id': 9994, 'cast_id':...
Name: cast, dtype: object
109 of 156
0    [{'name': 'Breckin Meyer', 'id': 33654, 'cast_...
Name: cast, dtype: object
110 of 156
0    [{'name': 'Harrison Ford', 'id': 3, 'cast_id':...
Name: cast, dtype: object
111 of 156
0    [{'name': 'Wesley Snipes', 'id': 10814, 'cast_...
Name: cast, dtype: object
112 of 156
0    [{'name': 'Kevin Spacey', 'id': 1979, 'cast_id...
Name: cast, dtype: object
113 of 156
0    [{'name': 'Eric Bana', 'id': 8783, 'cast_id': ...
Name: cast, dtype: object
114 of 156
0    [{'name': 'Julia Roberts', 'id': 1204, 'cast_i...
Name: cast, dtype: object
115 of 156
0    [{'name': 'Matt Damon', 'id': 1892, 'cast_id':...
Name: cast, dtype: object
116 of 156
0    [{'name': 'Ben Affleck', 'id': 880, 'cast_id':...
Name: cast, dtype: object
117 of 156
0    [{'name': 'John Cusack', 'id': 3036, 'cast_id'...
Name: cast, dtype: object
118 of 156
0    [{'name': 'Jackie Chan', 'id': 18897, 'cast_id...
Name: cast, dtype: object
119 of 156
0    [{'name': 'Clint Eastwood', 'id': 190, 'cast_i...
Name: cast, dtype: object
120 of 156
0    [{'name': 'James Spader', 'id': 13548, 'cast_i...
Name: cast, dtype: object
121 of 156
0    [{'name': 'William H. Macy', 'id': 3905, 'cast...
Name: cast, dtype: object
122 of 156
0    [{'name': 'Chris Warren, Jr.', 'id': 77196, 'c...
Name: cast, dtype: object
123 of 156
0    [{'name': 'Wu Nien-Jen', 'id': 143036, 'cast_i...
Name: cast, dtype: object
124 of 156
0    [{'name': 'David Arquette', 'id': 15234, 'cast...
Name: cast, dtype: object
125 of 156
0    [{'name': 'Martin Lawrence', 'id': 78029, 'cas...
Name: cast, dtype: object
126 of 156
0    [{'name': 'Samuel L. Jackson', 'id': 2231, 'ca...
Name: cast, dtype: object
127 of 156
0    [{'name': 'Arnold Schwarzenegger', 'id': 1100,...
Name: cast, dtype: object
128 of 156
0    [{'name': 'Bruce Willis', 'id': 62, 'cast_id':...
Name: cast, dtype: object
129 of 156
0    [{'name': 'Vincent D'Onofrio', 'id': 7132, 'ca...
Name: cast, dtype: object
130 of 156
0    [{'name': 'Elizabeth Hurley', 'id': 13918, 'ca...
Name: cast, dtype: object
131 of 156
0    [{'name': 'Robert De Niro', 'id': 380, 'cast_i...
Name: cast, dtype: object
132 of 156
0    [{'name': 'Richard Gere', 'id': 1205, 'cast_id...
Name: cast, dtype: object
133 of 156
0    [{'name': 'Glenn Close', 'id': 515, 'cast_id':...
Name: cast, dtype: object
134 of 156
0    [{'name': 'Ben Affleck', 'id': 880, 'cast_id':...
Name: cast, dtype: object
135 of 156
0    [{'name': 'Paul Newman', 'id': 3636, 'cast_id'...
Name: cast, dtype: object
136 of 156
0    [{'name': 'Jean Reno', 'id': 1003, 'cast_id': ...
Name: cast, dtype: object
137 of 156
0    [{'name': 'Lars Rudolph', 'id': 1087, 'cast_id...
Name: cast, dtype: object
138 of 156
0    [{'name': 'Kate Hudson', 'id': 11661, 'cast_id...
Name: cast, dtype: object
139 of 156
0    [{'name': 'Matt Damon', 'id': 1892, 'cast_id':...
Name: cast, dtype: object
140 of 156
0    [{'name': 'Richard E. Grant', 'id': 20766, 'ca...
Name: cast, dtype: object
141 of 156
0    [{'name': 'Tommy Lee Jones', 'id': 2176, 'cast...
Name: cast, dtype: object
142 of 156
0    [{'name': 'Juliette Binoche', 'id': 1137, 'cas...
Name: cast, dtype: object
143 of 156
0    [{'name': 'Yuliya Mayarchuk', 'id': 89142, 'ca...
Name: cast, dtype: object
144 of 156
0    [{'name': 'Veronica Taylor', 'id': 67830, 'cas...
Name: cast, dtype: object
145 of 156
0    [{'name': 'Rene Russo', 'id': 14343, 'cast_id'...
Name: cast, dtype: object
146 of 156
0    [{'name': 'Chris O'Donnell', 'id': 5577, 'cast...
Name: cast, dtype: object
147 of 156
0    [{'name': 'Jim Cummings', 'id': 12077, 'cast_i...
Name: cast, dtype: object
148 of 156
0    [{'name': 'Giovanni Ribisi', 'id': 1771, 'cast...
Name: cast, dtype: object
149 of 156
0    [{'name': 'Chevy Chase', 'id': 54812, 'cast_id...
Name: cast, dtype: object
150 of 156
0    [{'name': 'Kevin Costner', 'id': 1269, 'cast_i...
Name: cast, dtype: object
151 of 156
0    [{'name': 'Jason Biggs', 'id': 21593, 'cast_id...
Name: cast, dtype: object
152 of 156
0    [{'name': 'Melanie Griffith', 'id': 29369, 'ca...
Name: cast, dtype: object
153 of 156
0    [{'name': 'Kimberly Williams-Paisley', 'id': 7...
Name: cast, dtype: object
154 of 156
0    [{'name': 'Ed Harris', 'id': 228, 'cast_id': 1...
Name: cast, dtype: object
155 of 156
0    [{'name': 'Kenneth Mars', 'id': 9601, 'cast_id...
Name: cast, dtype: object
156 of 156
0    [{'name': 'Cate Blanchett', 'id': 112, 'cast_i...
Name: cast, dtype: object
157 of 156
0    [{'name': 'Eddie Murphy', 'id': 776, 'cast_id'...
Name: cast, dtype: object
158 of 156
0    [{'name': 'Amitabh Bachchan', 'id': 35780, 'ca...
Name: cast, dtype: object
159 of 156
0    [{'name': 'Samy Naceri', 'id': 20666, 'cast_id...
Name: cast, dtype: object
160 of 156
0    [{'name': 'Joshua Jackson', 'id': 11866, 'cast...
Name: cast, dtype: object
161 of 156
0    [{'name': 'Sam Neill', 'id': 4783, 'cast_id': ...
Name: cast, dtype: object
162 of 156
0    [{'name': 'Emily Perkins', 'id': 64914, 'cast_...
Name: cast, dtype: object
163 of 156
0    [{'name': 'Val Kilmer', 'id': 5576, 'cast_id':...
Name: cast, dtype: object
164 of 156
0    [{'name': 'Colin Farrell', 'id': 72466, 'cast_...
Name: cast, dtype: object
165 of 156
0    [{'name': 'Adam Sandler', 'id': 19292, 'cast_i...
Name: cast, dtype: object
166 of 156
0    [{'name': 'Dennis Quaid', 'id': 6065, 'cast_id...
Name: cast, dtype: object
167 of 156
0    [{'name': 'Denzel Washington', 'id': 5292, 'ca...
Name: cast, dtype: object
168 of 156
0    [{'name': 'Nicolas Cage', 'id': 2963, 'cast_id...
Name: cast, dtype: object
169 of 156
0    [{'name': 'Renée Zellweger', 'id': 9137, 'cast...
Name: cast, dtype: object
170 of 156
0    [{'name': 'Laura Linney', 'id': 350, 'cast_id'...
Name: cast, dtype: object
171 of 156
0    [{'name': 'Natalie Portman', 'id': 524, 'cast_...
Name: cast, dtype: object
172 of 156
0    [{'name': 'Moritz Bleibtreu', 'id': 677, 'cast...
Name: cast, dtype: object
173 of 156
0    [{'name': 'Jay Brazeau', 'id': 63791, 'cast_id...
Name: cast, dtype: object
174 of 156
0    [{'name': 'Mark Addy', 'id': 13633, 'cast_id':...
Name: cast, dtype: object
175 of 156
0    [{'name': 'Willem Dafoe', 'id': 5293, 'cast_id...
Name: cast, dtype: object
176 of 156
0    [{'name': 'Ellen Burstyn', 'id': 9560, 'cast_i...
Name: cast, dtype: object
177 of 156
0    [{'name': 'Sylvester Stallone', 'id': 16483, '...
Name: cast, dtype: object
178 of 156
0    [{'name': 'Ben Stiller', 'id': 7399, 'cast_id'...
Name: cast, dtype: object
179 of 156
0    [{'name': 'Benicio del Toro', 'id': 1121, 'cas...
Name: cast, dtype: object
180 of 156
0    [{'name': 'Vin Diesel', 'id': 12835, 'cast_id'...
Name: cast, dtype: object
181 of 156
0    [{'name': 'Woody Allen', 'id': 1243, 'cast_id'...
Name: cast, dtype: object
182 of 156
0    [{'name': 'Lindsay Lohan', 'id': 49265, 'cast_...
Name: cast, dtype: object
183 of 156
0    [{'name': 'Matt Damon', 'id': 1892, 'cast_id':...
Name: cast, dtype: object
184 of 156
0    [{'name': 'Sandra Bullock', 'id': 18277, 'cast...
Name: cast, dtype: object
185 of 156
0    [{'name': 'Gerard Butler', 'id': 17276, 'cast_...
Name: cast, dtype: object
186 of 156
0    [{'name': 'Franka Potente', 'id': 679, 'cast_i...
Name: cast, dtype: object
187 of 156
0    [{'name': 'Craig Sheffer', 'id': 4138, 'cast_i...
Name: cast, dtype: object
188 of 156
0    [{'name': 'Christopher Walken', 'id': 4690, 'c...
Name: cast, dtype: object
189 of 156
0    [{'name': 'Will Friedle', 'id': 76621, 'cast_i...
Name: cast, dtype: object
190 of 156
0    [{'name': 'Gary Sinise', 'id': 33, 'cast_id': ...
Name: cast, dtype: object
191 of 156
0    [{'name': 'Meg Ryan', 'id': 5344, 'cast_id': 1...
Name: cast, dtype: object
192 of 156
0    [{'name': 'Winona Ryder', 'id': 1920, 'cast_id...
Name: cast, dtype: object
193 of 156
0    [{'name': 'Armand Assante', 'id': 23346, 'cast...
Name: cast, dtype: object
194 of 156
0    [{'name': 'Alessandro Nivola', 'id': 4941, 'ca...
Name: cast, dtype: object
195 of 156
0    [{'name': 'Hideyuki Tanaka', 'id': 67471, 'cas...
Name: cast, dtype: object

In [63]:
ids_num[80]

10384

In [65]:
movie_credits_df.iloc[80]

cast              [{'id': 112, 'cast_id': 1, 'gender': 1, 'credi...
crew              [{'id': 7623, 'profile_path': '/uEAaCUJzyMI8N5...
id                                                             2046
status_code                                                     NaN
status_message                                                  NaN
Name: 0, dtype: object

In [64]:
movie_credits_df[movie_credits_df['id']==10384]

,cast,crew,id,status_code,status_message
0,"[{'id': 13548, 'cast_id': 6, 'gender': 2, 'cre...","[{'id': 1723, 'profile_path': '/gCU3dgnNaZuvmA...",10384.0,NaN,NaN

In [74]:
movie_credits_df.head(82)

,index,cast,crew,id,status_code,status_message
0,0,"[{'id': 529, 'movie_id': 77, 'cast_id': 4, 'ge...","[{'id': 525, 'profile_path': '/7OGmfDF4VHLLgbj...",77.0,NaN,NaN
1,0,"[{'id': 934, 'movie_id': 98, 'cast_id': 8, 'ge...","[{'id': 578, 'profile_path': '/oTAL0z0vsjipCru...",98.0,NaN,NaN
2,0,"[{'id': 3894, 'movie_id': 1359, 'cast_id': 3, ...","[{'id': 16378, 'profile_path': '/qlWi0kufzB7lC...",1359.0,NaN,NaN
3,0,"[{'id': 31, 'movie_id': 8358, 'cast_id': 3, 'g...","[{'id': 24, 'profile_path': '/isCuZ9PWIOyXzdf3...",8358.0,NaN,NaN
4,0,"[{'id': 2461, 'movie_id': 7443, 'cast_id': 3, ...","[{'id': 2359, 'profile_path': None, 'job': 'Ex...",7443.0,NaN,NaN
5,0,"[{'id': 500, 'movie_id': 955, 'cast_id': 31, '...","[{'id': 122, 'profile_path': '/j4BGxQq5klTT7hi...",955.0,NaN,NaN
6,0,"[{'id': 1121, 'movie_id': 107, 'cast_id': 19, ...","[{'id': 29, 'profile_path': None, 'job': 'Exec...",107.0,NaN,NaN
7,0,"[{'id': 1461, 'movie_id': 2133, 'cast_id': 16,...","[{'id': 5231, 'profile_path': '/t3Fxy4SBeOWj8T...",2133.0,NaN,NaN
8,0,"[{'id': 15555, 'movie_id': 6282, 'cast_id': 1,...","[{'id': 770, 'profile_path': '/p2rd1kgq7GiCx2n...",6282.0,NaN,NaN
9,0,"[{'id': 8600, 'movie_id': 40096, 'cast_id': 1,...","[{'id': 102560, 'profile_path': '/tAjR4ocM6Vjj...",40096.0,NaN,NaN
10,0,"[{'id': 1619, 'movie_id': 146, 'cast_id': 25, ...","[{'id': 1360, 'profile_path': '/73tjDKqG8qsKyG...",146.0,NaN,NaN
11,0,"[{'id': 60950, 'movie_id': 11688, 'cast_id': 1...","[{'id': 61411, 'profile_path': '/8wetJbZVXQrdf...",11688.0,NaN,NaN
12,0,"[{'id': 2461, 'movie_id': 2024, 'cast_id': 12,...","[{'id': 1594907, 'profile_path': None, 'job': ...",2024.0,NaN,NaN
13,0,"[{'id': 880, 'movie_id': 10862, 'cast_id': 1, ...","[{'id': 57579, 'profile_path': '/xPnPpnylece1h...",10862.0,NaN,NaN
14,0,"[{'id': 6384, 'movie_id': 10393, 'cast_id': 3,...","[{'id': 4500, 'profile_path': '/hTrlvZlDXQk49n...",10393.0,NaN,NaN
15,0,"[{'id': 50398, 'movie_id': 9532, 'cast_id': 1,...","[{'id': 57134, 'profile_path': '/4TIHQFKSdS8WD...",9532.0,NaN,NaN
16,0,"[{'id': 478, 'movie_id': 71, 'cast_id': 16, 'g...","[{'id': 462, 'profile_path': None, 'job': 'Pro...",71.0,NaN,NaN
17,0,"[{'id': 6193, 'movie_id': 1907, 'cast_id': 2, ...","[{'id': 8384, 'profile_path': None, 'job': 'Se...",1907.0,NaN,NaN
18,0,"[{'id': 12898, 'movie_id': 16187, 'cast_id': 6...","[{'id': 56852, 'profile_path': None, 'job': 'D...",16187.0,NaN,NaN
19,0,"[{'id': 28639, 'movie_id': 4247, 'cast_id': 23...","[{'id': 35689, 'profile_path': '/4uCVzk6JrNflr...",4247.0,NaN,NaN
20,0,"[{'id': 62, 'movie_id': 4244, 'cast_id': 1, 'g...","[{'id': 12962, 'profile_path': '/borF48XTUkOCK...",4244.0,NaN,NaN
21,0,"[{'id': 2963, 'movie_id': 9679, 'cast_id': 1, ...","[{'id': 58498, 'profile_path': '/ofWADCsDpNxbT...",9679.0,NaN,NaN
22,0,"[{'id': 35769, 'movie_id': 10473, 'cast_id': 1...","[{'id': 58656, 'profile_path': None, 'job': 'D...",10473.0,NaN,NaN
23,0,"[{'id': 64, 'movie_id': 6521, 'cast_id': 1, 'g...","[{'id': 2121, 'profile_path': None, 'job': 'Ca...",6521.0,NaN,NaN
24,0,"[{'id': 6941, 'movie_id': 4327, 'cast_id': 1, ...","[{'id': 36425, 'profile_path': '/hT0I4rLSOhIQo...",4327.0,NaN,NaN
25,0,"[{'id': 13240, 'movie_id': 19457, 'cast_id': 1...","[{'id': 117, 'profile_path': '/4HbFF5o13GkO0rH...",19457.0,NaN,NaN
26,0,"[{'id': 20738, 'movie_id': 2440, 'cast_id': 15...","[{'id': 10099, 'profile_path': '/oITKgh5vsTZvW...",2440.0,NaN,NaN
27,0,"[{'id': 18976, 'movie_id': 8859, 'cast_id': 1,...","[{'id': 56591, 'profile_path': '/baaonHW8JdQXy...",8859.0,NaN,NaN
28,0,"[{'id': 193, 'movie_id': 10562, 'cast_id': 1, ...","[{'id': 2042, 'profile_path': '/9htj3BqGWBJGEd...",10562.0,NaN,NaN
29,0,"[{'id': 206, 'movie_id': 2123, 'cast_id': 14, ...","[{'id': 7396, 'profile_path': '/gJcM7v6tTOKXfi...",2123.0,NaN,NaN
...,...,...,...,...,...,...
52,0,"[{'id': 33654, 'cast_id': 13, 'gender': 2, 'cr...","[{'id': 7068, 'profile_path': None, 'job': 'Ed...",9285.0,NaN,NaN
53,0,"[{'id': 3, 'cast_id': 2, 'gender': 2, 'credit_...","[{'id': 37, 'profile_path': '/chEsfnDEtRmv1bfO...",2655.0,NaN,NaN
54,0,"[{'id': 10814, 'cast_id': 9, 'gender': 2, 'cre...","[{'id': 25735, 'profile_path': '/dz0da6lHPAzAF...",11398.0,NaN,NaN
55,0,"[{'id': 1979, 'cast_id': 1, 'gender': 2, 'cred...","[{'id': 72467, 'profile_path': None, 'job': 'D...",12490.0,NaN,NaN
56,0,"[{'id': 8783, 'cast_id': 1, 'gender': 2, 'cred...","[{'id': 37618, 'profile_path': '/r80gQB1iYTMSj...",9519.0,NaN,NaN
57,0,"[{'id': 1204, 'cast_id': 25, 'gender': 1, 'cre...","[{'id': 1884, 'profile_path': '/dxdMRsAosaGlMR...",462.0,NaN,NaN
58,0,"[{'id': 1892, 'cast_id': 28, 'gender': 2, 'cre...","[{'id': 495, 'profile_path': None, 'job': 'Cas...",4958.0,NaN,NaN
59,0,"[{'id': 880, 'cast_id': 1, 'gender': 2, 'credi...","[{'id': 12090, 'profile_path': None, 'job': 'C...",16366.0,NaN,NaN
60,0,"[{'id': 3036, 'cast_id': 7, 'gender': 2, 'cred...","[{'id': 3224, 'profile_path': '/8IewTBLTPujw1t...",243.0,NaN,NaN
61,0,"[{'id': 18897, 'cast_id': 4, 'gender': 2, 'cre...","[{'id': 4504, 'profile_path': None, 'job': 'Pr...",8584.0,NaN,NaN
62,0,"[{'id': 190, 'cast_id': 11, 'gender': 2, 'cred...","[{'id': 190, 'profile_path': '/wJosJW9DNWHOA8h...",5551.0,NaN,NaN
63,0,"[{'id': 13548, 'cast_id': 6, 'gender': 2, 'cre...","[{'id': 1723, 'profile_path': '/gCU3dgnNaZuvmA...",10384.0,NaN,NaN
64,0,"[{'id': 3905, 'cast_id': 1, 'gender': 2, 'cred...","[{'id': 29525, 'profile_path': None, 'job': 'P...",20637.0,NaN,NaN
65,0,"[{'id': 77196, 'cast_id': 1, 'gender': 2, 'cre...","[{'id': 5281, 'profile_path': '/zTsaE7GrLnOV62...",14736.0,NaN,NaN
66,0,"[{'id': 143036, 'cast_id': 2, 'gender': 2, 'cr...","[{'id': 143035, 'profile_path': '/ziiIOHdtINX3...",25538.0,NaN,NaN
67,0,"[{'id': 15234, 'cast_id': 15, 'gender': 2, 'cr...","[{'id': 1392233, 'profile_path': None, 'job': ...",4234.0,NaN,NaN
68,0,"[{'id': 78029, 'cast_id': 14, 'gender': 2, 'cr...","[{'id': 1215, 'profile_path': '/jbcOXhl4QGaYcv...",9600.0,NaN,NaN
69,0,"[{'id': 2231, 'cast_id': 6, 'gender': 2, 'cred...","[{'id': 6482, 'profile_path': '/xmVaXjAAywPh7H...",479.0,NaN,NaN
70,0,"[{'id': 1100, 'cast_id': 1, 'gender': 2, 'cred...","[{'id': 1724, 'profile_path': '/hH8tIBh0RI7VwI...",8452.0,NaN,NaN
71,0,"[{'id': 62, 'cast_id': 10, 'gender': 2, 'credi...","[{'id': 1486763, 'profile_path': '/i9jLwuwVgAN...",2069.0,NaN,NaN
72,0,"[{'id': 7132, 'cast_id': 1, 'gender': 2, 'cred...","[{'id': 37948, 'profile_path': '/qjEl3MLqL4MDZ...",22230.0,NaN,NaN
73,0,"[{'id': 13918, 'cast_id': 5, 'gender': 1, 'cre...","[{'id': 1524, 'profile_path': '/dFERLL9HGBw9xG...",1636.0,NaN,NaN
74,0,"[{'id': 380, 'cast_id': 11, 'gender': 2, 'cred...","[{'id': 4140, 'profile_path': '/juP82LbS9chU3V...",11978.0,NaN,NaN
75,0,"[{'id': 1205, 'cast_id': 1, 'gender': 2, 'cred...","[{'id': 6720, 'profile_path': '/ekWS5bAB0kv4RC...",10641.0,NaN,NaN
76,0,"[{'id': 515, 'cast_id': 1, 'gender': 1, 'credi...","[{'id': 15775, 'profile_path': '/725jzhxXkAPIq...",10481.0,NaN,NaN
77,0,"[{'id': 880, 'cast_id': 17, 'gender': 2, 'cred...","[{'id': 37, 'profile_path': '/chEsfnDEtRmv1bfO...",2155.0,NaN,NaN
78,0,"[{'id': 3636, 'cast_id': 3, 'gender': 2, 'cred...","[{'id': 78523, 'profile_path': None, 'job': 'D...",31776.0,NaN,NaN
79,0,"[{'id': 1003, 'cast_id': 2, 'gender': 2, 'cred...","[{'id': 2406, 'profile_path': '/h0LpOBDRawf5pS...",60670.0,NaN,NaN
80,0,"[{'id': 112, 'cast_id': 1, 'gender': 1, 'credi...","[{'id': 7623, 'profile_path': '/uEAaCUJzyMI8N5...",2046.0,NaN,NaN
81,0,"[{'id': 776, 'cast_id': 15, 'gender': 2, 'cred...","[{'id': 13426, 'profile_path': '/4wl3AZ16vUhFu...",12107.0,NaN,NaN