In [1]:
import http.client
import json
from settings import API_KEY
import time
import  csv
from pandas.io.json import json_normalize
import pandas as pd

In [2]:
def get_url_credits(movie_id, api_key):
    return("/3/movie/" + str(movie_id) + "/credits" + "?api_key=" + str(api_key))

def get_json(conn, url):
	payload = "{}"
	conn.request("GET", url, payload)
	res = conn.getresponse()
	data = res.read()
	return(json.loads(data.decode("    utf-8")))

## Essa parte está OK

In [25]:
def get_movie_credits(ids):
    
	conn = http.client.HTTPSConnection("api.themoviedb.org")    
	movie_credits_df = pd.DataFrame()
    
	for movie_id in ids:
		url = get_url_credits(movie_id, API_KEY)
        
		try:
			credits_data = get_json(conn, url)
		except Exception as e:
			if (credits_data['status_code'] == 25):
				time.sleep(10)                
				credits_data = get_json(conn, url)        
        
		df = json_normalize(credits_data)
		movie_credits_df = movie_credits_df.append(df)

	return movie_credits_df

## Aqui dá problema a partir de um número de ids (o teste com 5 funcionou bem)

In [168]:
def get_cast(ids, movie_credits_df):

    movie_cast_df = pd.DataFrame()

    for idx,movie_id in enumerate(ids,40):

        movie_item = pd.DataFrame()
        movie_item = movie_credits_df[movie_credits_df['id']==int(movie_id)].reset_index()
        print("%s of %s" % (idx,len(ids)))

        print(movie_item['cast'])
        
        for cast_id in movie_item['cast'][0]: # ESSA LINHA ESTÁ DANDO PROBLEMA DE INDEX            
            cast_id.update({'movie_id': int(movie_id)})
            cast_id.pop('profile_path', None)
            movie_cast_df = movie_cast_df.append(cast_id, ignore_index=True)
    
    return movie_cast_df

In [162]:
ids[80]

'10384'

In [151]:
movie_credits_df_2.iloc[40]

cast    [{'profile_path': '/5himGJzSuLoHwqacTz7sXWqgeM...
crew    [{'job': 'Director', 'gender': 2, 'credit_id':...
id                                                   2085
Name: 55, dtype: object

In [173]:
movie_credits_df.iloc[40]

cast    NaN
crew    NaN
id      NaN
Name: 40, dtype: object

In [152]:
# TESTE

movie_cast_df = pd.DataFrame()

for movie_id in ['77', '98', '1359', '8358', '7443','2085']:
#for movie_id in ['77', '98']:    

    movie_item = movie_credits_df[movie_credits_df['id']==int(movie_id)].reset_index()

    for cast_id in movie_item['cast'][0]:
        cast_id.update({'movie_id': int(movie_id)})
        cast_id.pop('profile_path', None)
        movie_cast_df = movie_cast_df.append(cast_id, ignore_index=True)

In [155]:
movie_credits_df[movie_credits_df['id'].isnull()].shape

(26737, 3)

In [156]:
movie_credits_df_2 = movie_credits_df[movie_credits_df['id'].isnull()==0]

In [158]:
movie_credits_df_2 = movie_credits_df_2.drop_duplicates(subset='id', keep="first")

In [159]:
movie_credits_df_2.shape

(115908, 3)

,cast_id,character,credit_id,gender,id,movie_id,name,order
0,4.0,Leonard,52fe4214c3a36847f80024db,2.0,529.0,77.0,Guy Pearce,0.0
1,5.0,Natalie,52fe4214c3a36847f80024df,1.0,530.0,77.0,Carrie-Anne Moss,1.0
2,6.0,Teddy Gammell,52fe4214c3a36847f80024e3,2.0,532.0,77.0,Joe Pantoliano,2.0
3,7.0,Burt,52fe4214c3a36847f80024e7,2.0,534.0,77.0,Mark Boone Junior,3.0
4,10.0,Sammy,52fe4214c3a36847f80024f3,2.0,537.0,77.0,Stephen Tobolowsky,4.0
5,11.0,Mrs. Jankis,52fe4214c3a36847f80024f7,1.0,538.0,77.0,Harriet Sansom Harris,5.0
6,13.0,Dodd,52fe4214c3a36847f80024ff,2.0,540.0,77.0,Callum Keith Rennie,6.0
7,16.0,Jimmy,52fe4214c3a36847f800250b,2.0,544.0,77.0,Larry Holden,7.0
8,9.0,Leonard's Wife,52fe4214c3a36847f80024ef,1.0,536.0,77.0,Jorja Fox,8.0
9,8.0,Waiter,52fe4214c3a36847f80024eb,2.0,535.0,77.0,Russ Fega,9.0
10,12.0,Doctor,52fe4214c3a36847f80024fb,2.0,539.0,77.0,Thomas Lennon,10.0
11,14.0,Blonde,52fe4214c3a36847f8002503,1.0,542.0,77.0,Kimberly Campbell,11.0
12,15.0,Tattooist,52fe4214c3a36847f8002507,1.0,543.0,77.0,Marianne Muellerleile,12.0
13,8.0,Maximus,52fe4217c3a36847f8003435,2.0,934.0,98.0,Russell Crowe,0.0
14,9.0,Commodus,52fe4217c3a36847f8003439,2.0,73421.0,98.0,Joaquin Phoenix,1.0
15,10.0,Lucilla,52fe4217c3a36847f800343d,1.0,935.0,98.0,Connie Nielsen,2.0
16,11.0,Proximo,52fe4217c3a36847f8003441,2.0,936.0,98.0,Oliver Reed,3.0
17,12.0,Marcus Aurelius,52fe4217c3a36847f8003445,2.0,194.0,98.0,Richard Harris,4.0
18,13.0,Gracchus,52fe4217c3a36847f8003449,2.0,937.0,98.0,Derek Jacobi,5.0
19,14.0,Juba,52fe4217c3a36847f800344d,2.0,938.0,98.0,Djimon Hounsou,6.0
20,15.0,Falco,52fe4217c3a36847f8003451,0.0,939.0,98.0,David Schofield,7.0
21,16.0,Gaius,52fe4217c3a36847f8003455,2.0,940.0,98.0,John Shrapnel,8.0
22,17.0,Quintus,52fe4217c3a36847f8003459,2.0,941.0,98.0,Tomas Arana,9.0
23,18.0,Hagen,52fe4217c3a36847f800345d,2.0,942.0,98.0,Ralf Moeller,10.0
24,28.0,Cicero,52fe4217c3a36847f8003491,2.0,2478.0,98.0,Tommy Flanagan,11.0
25,29.0,Lucius,52fe4217c3a36847f8003495,2.0,4012.0,98.0,Spencer Treat Clark,12.0
26,30.0,Cassius,52fe4217c3a36847f8003499,2.0,15196.0,98.0,David Hemmings,13.0
27,31.0,Tigris,52fe4217c3a36847f800349d,2.0,20761.0,98.0,Sven-Ole Thorsen,14.0
28,33.0,Maximus' Wife,52fe4217c3a36847f80034a5,1.0,58787.0,98.0,Giannina Facio,15.0
29,32.0,Praetorian Guard #1,52fe4217c3a36847f80034a1,2.0,1052482.0,98.0,Alun Raglan,16.0
...,...,...,...,...,...,...,...,...
68,17.0,Sabrina,52fe42eec3a36847f802db31,0.0,32033.0,1359.0,Krista Sutton,17.0
69,42.0,Vanden,56994bf2c3a3680ce600001f,1.0,110245.0,1359.0,Catherine Black,18.0
70,3.0,Chuck Noland,52fe44a2c3a36847f80a14df,2.0,31.0,8358.0,Tom Hanks,0.0
71,4.0,Kelly Frears,52fe44a2c3a36847f80a14e3,1.0,9994.0,8358.0,Helen Hunt,1.0
72,5.0,Jerry Lovett,52fe44a2c3a36847f80a14e7,2.0,38026.0,8358.0,Chris Noth,2.0
73,13.0,Ramon,52fe44a2c3a36847f80a1515,0.0,11892.0,8358.0,Paul Sanchez,3.0
74,14.0,Bettina Peterson,52fe44a2c3a36847f80a1519,1.0,55433.0,8358.0,Lari White,4.0
75,15.0,Fyodor,52fe44a2c3a36847f80a151d,0.0,55434.0,8358.0,Leonid Citer,5.0
76,16.0,Dick Peterson,52fe44a2c3a36847f80a1521,2.0,55435.0,8358.0,David Allen Brooks,6.0
77,17.0,Nicolai,52fe44a2c3a36847f80a1525,0.0,55436.0,8358.0,Semion Sudarikov,7.0
78,18.0,Yuri,52fe44a2c3a36847f80a1529,2.0,55437.0,8358.0,Peter von Berg,8.0
79,19.0,Lev,52fe44a2c3a36847f80a152d,0.0,55438.0,8358.0,Dmitri S. Boudrine,9.0
80,20.0,Stan,52fe44a2c3a36847f80a1531,2.0,12538.0,8358.0,Nick Searcy,10.0
81,25.0,French FedEx Loader,52fe44a2c3a36847f80a154d,0.0,1177850.0,8358.0,François Duhamel,11.0
82,26.0,Pilot Jack,52fe44a2c3a36847f80a1551,2.0,1007561.0,8358.0,Michael Forest,12.0
83,29.0,Lauren Madden,57d1769ac3a36848c0007af4,1.0,51537.0,8358.0,Lauren Birkell,13.0
84,3.0,Rocky (Voice),52fe447cc3a36847f80990cd,2.0,2461.0,7443.0,Mel Gibson,0.0
85,5.0,Mrs. Tweedy,52fe447cc3a36847f80990d1,1.0,8436.0,7443.0,Miranda Richardson,1.0
86,7.0,Nick,52fe447cc3a36847f80990d5,2.0,9191.0,7443.0,Timothy Spall,2.0
87,8.0,Bunty,52fe447cc3a36847f80990d9,1.0,11356.0,7443.0,Imelda Staunton,3.0
88,18.0,Babs,52fe447dc3a36847f8099113,1.0,34902.0,7443.0,Jane Horrocks,4.0
89,21.0,Fetcher,52fe447dc3a36847f8099123,2.0,65301.0,7443.0,Phil Daniels,5.0
90,22.0,Mac,52fe447dc3a36847f8099127,0.0,1074137.0,7443.0,Lynn Ferguson,6.0
91,23.0,Mr. Tweedy,52fe447dc3a36847f809912b,2.0,20241.0,7443.0,Tony Haygarth,7.0
92,24.0,Ginger,52fe447dc3a36847f809912f,1.0,53328.0,7443.0,Julia Sawalha,8.0
93,25.0,Fowler,52fe447dc3a36847f8099133,2.0,84927.0,7443.0,Benjamin Whitrow,9.0
94,26.0,Circus Man,52fe447dc3a36847f8099137,2.0,36900.0,7443.0,John Sharian,10.0
95,27.0,Additional Chicken,52fe447dc3a36847f809913b,0.0,226586.0,7443.0,Jo Allen,11.0
96,28.0,Additional Chicken,52fe447dc3a36847f809913f,0.0,933684.0,7443.0,Lisa Kay,12.0
97,29.0,Additional Chicken,52fe447dc3a36847f8099143,0.0,1074138.0,7443.0,Laura Strachan,13.0

In [7]:
def get_crew(ids, movie_credits_df):

    movie_crew_df = pd.DataFrame()

    for movie_id in ids:

        movie_item = movie_credits_df[movie_credits_df['id']==int(movie_id)]

        for cast_id in movie_item['crew'][0]:
            cast_id.update({'movie_id': movie_id})
            cast_id.pop('profile_path', None)
            movie_crew_df = movie_crew_df.append(cast_id, ignore_index=True)
            
    return movie_crew_df

## Depois precisa encapsular isso em uma Main()

In [19]:
with open('out.csv', 'r') as f: # o 'out.csv' é uma cópia com número reduzido de ids
    reader = csv.reader(f, skipinitialspace=True, delimiter=',')
    ids_list = list(reader)
    
ids = [item for sublist in ids_list for item in sublist]

In [9]:
movie_credits_df = get_movie_credits(ids)

In [10]:
movie_cast_df = get_cast(ids, movie_credits_df)

In [11]:
movie_crew_df = get_crew(ids, movie_credits_df)

In [12]:
movie_credits_df.head()

,cast,crew,id
0,"[{'gender': 2, 'credit_id': '52fe4214c3a36847f...","[{'job': 'Co-Executive Producer', 'gender': 2,...",77
0,"[{'gender': 2, 'credit_id': '52fe4217c3a36847f...","[{'job': 'Unit Publicist', 'gender': 0, 'credi...",98
0,"[{'gender': 2, 'credit_id': '52fe42eec3a36847f...","[{'job': 'Casting', 'gender': 2, 'credit_id': ...",1359
0,"[{'gender': 2, 'credit_id': '52fe44a2c3a36847f...","[{'job': 'Director', 'gender': 2, 'credit_id':...",8358
0,"[{'gender': 2, 'credit_id': '52fe447cc3a36847f...","[{'job': 'Director', 'gender': 2, 'credit_id':...",7443

In [13]:
movie_cast_df.head()

,cast_id,character,credit_id,gender,id,movie_id,name,order
0,4.0,Leonard,52fe4214c3a36847f80024db,2.0,529.0,77,Guy Pearce,0.0
1,5.0,Natalie,52fe4214c3a36847f80024df,1.0,530.0,77,Carrie-Anne Moss,1.0
2,6.0,Teddy Gammell,52fe4214c3a36847f80024e3,2.0,532.0,77,Joe Pantoliano,2.0
3,7.0,Burt,52fe4214c3a36847f80024e7,2.0,534.0,77,Mark Boone Junior,3.0
4,10.0,Sammy,52fe4214c3a36847f80024f3,2.0,537.0,77,Stephen Tobolowsky,4.0

In [14]:
movie_crew_df.head()

,credit_id,department,gender,id,job,movie_id,name
0,5669f76292514173ff006a6d,Production,2.0,44633.0,Co-Executive Producer,77,Christopher Ball
1,5669f77d92514173ff006a70,Production,2.0,44634.0,Co-Executive Producer,77,William Tyrer
2,5669f7e0c3a3682e98001a71,Production,1.0,556.0,Associate Producer,77,Emma Thomas
3,5669f808c3a3682647001c96,Art,1.0,75391.0,Set Decoration,77,Danielle Berman
4,5669f8189251415ec50023ee,Costume & Make-Up,1.0,47294.0,Costume Design,77,Cindy Evans

In [22]:
with open('out_original.csv', 'r') as f: # o 'out_original.csv' é o arquivo do Daniel com 147 mil ids
    reader = csv.reader(f, skipinitialspace=True, delimiter=',')
    ids_list = list(reader)
    
ids = [item for sublist in ids_list for item in sublist]

In [26]:
start_time = time.time()
movie_credits_df = get_movie_credits(ids)
print("--- Movie Credits: %s seconds ---" % (time.time() - start_time))
print("")

--- Movie Credits: 30646.00852203369 seconds ---

In [ ]:
movie_credits_df = movie_credits_df.reset_index().drop(['index','status_code','status_message'], axis=1)

In [104]:
movie_credits_df.to_csv('movie_credits_df.csv')

## Aqui, a chamada da get_cast() dá merda

In [180]:
ids_2 = ids[39:]

In [181]:
start_time = time.time()
movie_cast_df = get_cast(ids_2, movie_credits_df_2)
movie_cast_df.to_csv('movie_cast_df.csv')
print("--- Movie Cast: %s seconds ---" % (time.time() - start_time))
print("")

40 of 147468
0    [{'gender': 2, 'credit_id': '52fe4525c3a36847f...
Name: cast, dtype: object
41 of 147468
Series([], Name: cast, dtype: object)

IndexError: index out of bounds

In [ ]:
start_time = time.time()
movie_crew_df = get_crew(ids, movie_credits_df)
movie_crew_df.to_csv('movie_crew_df.csv')
print("--- Movie Crew: %s seconds ---" % (time.time() - start_time))
print("")

In [211]:
movie_credits_df_3 = movie_credits_df.dropna(axis=0, how='any', subset=['id'])

movie_credits_df_3['id'] = movie_credits_df_3['id'].astype(int)
movie_cast_df = pd.DataFrame()

for i in range(movie_credits_df.shape[0]):
    movie_item = pd.DataFrame()
    movie_row = movie_credits_df.iloc[i]

    #movie_item = movie_credits_df[movie_credits_df['id']==int(movie_id)].reset_index()
    print(movie_row['cast'][0]) #é uma str, tem que passar para dict

    print(movie_row['cast'][0].dtype)
    
    for cast_id in movie_row['cast'][0]: # ESSA LINHA ESTÁ DANDO PROBLEMA DE INDEX
        cast_id.update({'movie_id': int(movie_id)})
        cast_id.pop('profile_path', None)
        movie_cast_df = movie_cast_df.append(cast_id, ignore_index=True)

{'gender': 2, 'credit_id': '52fe4214c3a36847f80024db', 'order': 0, 'movie_id': 77, 'cast_id': 4, 'character': 'Leonard', 'id': 529, 'name': 'Guy Pearce'}

/Users/raphael.prospero/.pyenv/versions/3.5.0/envs/pyenv-3.5.0/lib/python3.5/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

AttributeError: 'dict' object has no attribute 'dtype'

In [204]:
linha = movie_credits_df.iloc[0]

In [207]:
print(linha['cast'][0].dtype)

AttributeError: 'dict' object has no attribute 'dtype'

In [203]:
print(movie_credits_df['cast'][0][0])

{'gender': 2, 'credit_id': '52fe4214c3a36847f80024db', 'order': 0, 'movie_id': 77, 'cast_id': 4, 'character': 'Leonard', 'id': 529, 'name': 'Guy Pearce'}

In [190]:
movie_credits_df.shape[0]

147507